[2018-04-13 15:36] Bouncey opened #7 "Challenge Reset"
Reset editor to the challenge seed, can be found in `state.challenge.files`

[2018-04-13 15:36] Bouncey opened #8 "Code Storage"
- [ ] Add submitted code to localStorage
- [ ] Retrieve saved code from localStorage
- [ ] Clear saved code on challenge reset

[2018-04-13 15:36] Bouncey opened #9 "User integration"
- [ ] Fetch user challenge map
- [ ] Indicate completed challenges in the map
- [ ] Update backend on challenge completion

[2018-04-13 15:36] Bouncey opened #10 "Add backend challenges"
- [ ] view
- [ ] tests

[2018-04-13 15:36] Bouncey opened #11 "Add transitions from end of block -> intro page -> first challenge of next block"
Files to touch include:
- `./gatsby-node.js`
- `./templates/Introduction/Intro.js`
- `completion-epic.js`

[2018-04-16 06:40] Bouncey opened #14 "Should intro pages should index challenges for the block being introduced"
It wouldn't be too much work to have each intro page host a table of contents for the upcoming block.

Generation of these tables will be programmatic.

Thoughts @QuincyLarson

[2018-04-16 11:35] Bouncey opened #17 "All challenge views should have a completion modal"

[2018-04-17 03:52] QuincyLarson commented on #14
@Bouncey Awesome. This will be a huge feature - being able to link to the challenge blocks directly, with a brief explanation of the technology covered. It will help people find these subjects through Google easier, too.

[2018-04-17 10:33] #10 closed

[2018-04-17 14:26] Bouncey opened #19 "Use gatsby-plugin-sitemap"

[2018-04-17 14:27] Bouncey opened #20 "Add favicons"

[2018-04-17 15:47] Bouncey opened #21 "Swap out redux for apollo-link-state"
In prep for graphql api

[2018-04-18 09:58] #19 closed

[2018-04-18 10:15] #20 closed

[2018-04-18 20:03] Bouncey opened #25 "Carets in the map shrink in size when the associated text wraps"
![anim](https://user-images.githubusercontent.com/18572518/38955233-f494fcce-434b-11e8-9ccc-00cd555863ac.gif)

[2018-04-20 07:56] scissorsneedfoodtoo opened #28 "Error Messages When Running yarn develop"
@Bouncey, I saw Quincy announce this new web app over on Gitter. Can't wait to get it running and see how everything works!

However, when I run `yarn develop`, I get the following error:

[code]

When I try to run `npm install --save ...` from the error message, I get an error from npm saying that the filename is too long. I believe it's because my home directory is encrypted, so filenames can on

[2018-04-20 16:25] Simbaxo commented on #25
Is your goal to keep the carets visible when the map shrinks?

[2018-04-20 16:27] Bouncey commented on #25
Hi @Simbaxo :wave:

The idea is that they remain the same size at all times.

[2018-04-20 17:39] Simbaxo commented on #25
Oh okay. I'm fairly new to this but I would like to give this a shot!

[2018-04-20 17:45] Bouncey commented on #25
Awesome! Thanks @Simbaxo :+1:

[2018-04-21 08:08] #25 closed

[2018-04-21 08:10] Bouncey commented on #28
Did you find a solution @scissorsneedfoodtoo?

[2018-04-21 12:04] scissorsneedfoodtoo commented on #28
Yes, I was able to find a solution, but unfortunately it means shortening the slug by removing the superBlock from each, leaving them with just the block and title. However this would mean the URL for each page is more in line with beta. For example, beta is now:

`https://beta.freecodecamp.org/en/challenges/css-grid/create-your-first-css-grid`

Currently Learn is:

`https://learn.freecodecamp.org

[2018-04-21 12:44] Bouncey commented on #28
@scissorsneedfoodtoo thanks for confirming the issue. We should raise this in the gatsby repo so they can look at potential work-arounds, seeing as they are generated and used by `gatsby` itself.

There are a couple of reasons the url slug has changed from `production/beta -> learn`

 - `/challenges/` has been dropped as the `learn` subdomain is solely for the challenges/lessons provided by freeCo

[2018-04-21 12:59] scissorsneedfoodtoo commented on #28
@Bouncey, thank you for the explanation! That does certainly clear things up about the changes to the url slug. I especially like the idea of improved SEO and users hopefully being shown a list of all the blocks rather than being thrown into the thick of things.

There was a similar issue that I found in the gatsby repo, similarly encrypted Linux system, too. I'll comment there and see about a wor

[2018-04-21 13:10] Bouncey opened #30 "Stub superBlock index pages"
Much like we moved the introduction challenges to markdown, see `/responsive-web-design/basic-css` for an idea of what I am talking about, We would like to so the same to `/superBlock` routes.

Step one is to stub the pages until we have a better idea as to what they will look like and how they will function.

- Each top-level folder in the `/src/introductions` directory should have and `index.md`

[2018-04-21 15:38] Simbaxo commented on #30
I'm going to attempt this one as well.

[2018-04-21 15:38] Bouncey commented on #28
@scissorsneedfoodtoo nice find! Could you link to it from here please so we can track it :+1:

[2018-04-22 02:57] scissorsneedfoodtoo commented on #28
Sure! It's issue [#4125](https://github.com/gatsbyjs/gatsby/issues/4125) in the gatsby repo. I'll write a comment about the issue here a little later today.

[2018-05-01 16:41] tchaffee commented on #30
@Simbaxo are you still working on this? If not, I can give it a try.

[2018-05-01 17:16] tchaffee opened #31 "'yarn develop' gets error with buildChallenges.js"
After a fresh clone of this project and a successful `yarn install`, I get the following error messages when running `yarn develop`:

[code]

[2018-05-02 12:58] raisedadead commented on #31
Can reproduce, can you please share your system config?

[2018-05-02 16:27] tchaffee commented on #31
Ubuntu 16.04.4 LTS
npm v5.3.0
yarn v1.6.0

Let me know if there is any other info you need. Thanks!

[2018-05-02 18:41] tchaffee commented on #30
I'm blocked by issue https://github.com/freeCodeCamp/learn/issues/31 and as soon as we can get that figured out I'll take a look at this.

[2018-05-02 20:48] tchaffee commented on #31
@raisedadead That got me past that error. Now I'm getting a new one.

[code]

I tried following the instructions, but I get this:

[code]

Any ideas? Thanks!

[2018-05-02 20:57] raisedadead commented on #31
Hmm this looks something similar to #28

[2018-05-03 00:30] scissorsneedfoodtoo commented on #31
Yes, I think that's the same problem I'm having. @tchaffee, is your /home directory encrypted by any chance?

If so, the problem is that the max filename length with encryption using eCryptfs, which I believe Ubuntu uses by default, is 143 characters. A temporary workaround is just to go into /seed/challenges and to find those three challenge titles and shorten them manually. Then you should be ab

[2018-05-03 21:46] tchaffee commented on #31
@scissorsneedfoodtoo Yes, encrypted home dir. Shortening the lesson descriptions worked for me. Thanks!

[2018-05-03 21:46] #31 closed

[2018-05-07 19:55] QuincyLarson opened #32 "Add interview prep section to Learn"
Coding Interview Prep:
- Algorithm Questions
- Data Structure Questions
- Take-home Projects

And also add the Information Security and Quality Assurance certification back in.

[2018-05-07 23:31] Bouncey commented on #7
Closed via #33

[2018-05-07 23:31] #7 closed

[2018-05-08 12:11] #32 closed

[2018-05-08 12:16] Bouncey commented on #30
Hi @tchaffee, how are things going with this PR? Can I help in any way?

[2018-05-08 12:44] Bouncey opened #35 "Update challenge.successMessage on a 'per challenge' basis"
The success message is what is displayed in the completion modal header, it defaults to 'Happy Coding!'.

Before we used a `words.json` [available here](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/common/app/utils/words.json). This should be acceptable to use again.

[2018-05-08 13:48] thomaskuntzz commented on #35
In the original freeCodeCamp app, [`get-words.js`](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/common/app/utils/get-words.js) generates greetings from [`words.json`](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/common/app/utils/words.json). `get-words.js`'s [`randomCompliment` function](https://github.com/freeCodeCamp/freeCodeCamp/blob/master/common/app/utils/get-words.js#

[2018-05-08 14:44] Bouncey commented on #35
Hi @thomaskuntzz thanks for taking the time to look into this. It seems you have uncovered a bug in freecodecamp/freecodecamp.

We should be updating the `successMessage` when the challenge changes. Much like we are doing with `challengeMeta` and `challengeFiles` [here in `componentDidMount`](https://github.com/freeCodeCamp/learn/blob/cf52ebb41b8dfaa7a15f1a76c5a2ed848cfa0ce9/src/templates/Challeng

[2018-05-08 15:17] thomaskuntzz commented on #35
I was just taking a look at the code to see if I could help with this, but I don't feel like I can implement this myself, so I just wrote what I understood of how it works right now, just to make the life of whoever will take this on easier 😊

[2018-05-08 15:40] Bouncey opened #36 "Swap out the copy-webpack-plugin for monaco-editor-webpack-plugin"
We edit the webpack config though `./gatsby-node.js`, near the bottom of the file

[2018-05-08 17:54] tchaffee commented on #30
@Bouncey Thanks for the reminder. I got caught up in other work, but I can prioritize this now. I'm a little confused about exactly what has to be done. Can you hop on gitter or somewhere else at some point to help?

[2018-05-09 11:16] domwakeling commented on #35
I *think* I see what the code is doing and will have a look at implementing this if no-one else is working on it?

[2018-05-09 11:40] #8 closed

[2018-05-09 11:51] domwakeling commented on #35
Stupid question probably, but ... can I `npm` rather than `yarn`, or do I need to install yarn?

[2018-05-09 11:54] thomaskuntzz commented on #35
`yarn` and `npm install` are equivalent 😉

[2018-05-09 11:56] domwakeling commented on #35
Thanks, wasn't sure if using npm would add a conflict (guess it might add a second lock file?)

[2018-05-09 11:56] raisedadead commented on #35
I would stick to `yarn` if I am adding / modifying / removing packages. As long as you are NOT doing that you are good to go.

Also do not add the lockfile to your commit when you make a PR.

[2018-05-09 12:10] domwakeling commented on #35
No problem. Can't run the develop script using npm so installing yarn!

[2018-05-09 12:14] Bouncey commented on #35
I know it could be a pain doing it all the time, but changing `yarn` for `npm run` will get round that for you :+1:

[2018-05-09 12:27] #17 closed

[2018-05-09 12:32] Bouncey commented on #35
@domwakeling Copy/paste this into you `package.json`.

[code]

[2018-05-09 12:51] domwakeling commented on #35
*sigh*

Sorry about this; I'm now hitting an error message which (essentially) is complaining about a spread operator (`...file` in line 78 of `seed/buildChallenges.js`). Have tried using both npm and yarn (complete uninstall and fresh clone, install etc) and getting it both ways. Could this be a babel issue?

[2018-05-09 12:56] raisedadead commented on #35
https://yarnpkg.com/en/ and follow installation instructions

[2018-05-09 13:28] Bouncey commented on #35
Which version of node are you using @domwakeling? It should be version 8+ to use the object spread operator

[2018-05-09 13:50] domwakeling commented on #35
Looks like noob issues. `node -v` returns v6.9.1 but running `brew upgrade node` returns 'node 10.1.0 already installed'. Is there some easy way to fix this or do I need to install nvm?

[2018-05-09 13:53] Bouncey commented on #35
I have found `nvm` being the best option when working with node versions :+1:

[2018-05-09 14:04] raisedadead commented on #35
Hi @domwakeling Lets keep the issue thread clean for issue specific discussions, and continue on
[Contributors Chat room](https://gitter.im/FreeCodeCamp/Contributors) for troubleshooting.

[2018-05-09 21:18] domwakeling commented on #35
Fix proposed in PR #41

[2018-05-10 22:09] Bouncey commented on #28
@scissorsneedfoodtoo Would you like to rename the challenges so that they allow contributors like you to work locally?

[2018-05-10 22:25] #35 closed

[2018-05-11 05:59] scissorsneedfoodtoo commented on #28
@Bouncey, I think it's okay for now. @tchaffee and I are probably in the minority, and it's not a problem to edit the challenge names to work locally. Maybe if a lot of other users run into the same issue we can rename those challenges.

Just to keep you posted about what's going on in the open issue in the Gatsby repo, @KyleAMathews suggested and algorithm to do the following:

1. Naively create

[2018-05-11 13:34] beaucarnes opened #42 "possible error in challenge description"
Challenge: "Basic HTML and HTML5 - Create a Set of Radio Buttons"
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/create-a-set-of-radio-buttons

Here is the relevant text in the description for this challenge:

It is NOT necessary to wrap an input element inside of a label element to make the text clickable as long as there is a `for` field on the label that matches the `

[2018-05-11 13:45] beaucarnes commented on #42
Same for checkboxes. This should be changed as well to match best practices shown on MDN.

[2018-05-16 08:47] Bouncey commented on #42
Thanks @beaucarnes! The seed files are going to remain in freecodecamp/freecodecamp, so any edits to the challenges should be handled over there. We are working on pulling them in through `npm`.

Thanks for checking out out learn!

[2018-05-16 08:47] #42 closed

[2018-05-16 09:04] raisedadead commented on #42
@beaucarnes if you could open up the issue there then it would be great.

[2018-05-17 20:53] texas2010 opened #44 "need to fix typo and add info about env in the Contributing file."
When I follow the step to step.
after I run the `yarn develop`. I went to check browser. I checked the site. I got white page and an error in the console.

![screen shot 2018-05-17 at 3 34 17 pm](https://user-images.githubusercontent.com/9701609/40202547-f3e197c6-59e7-11e8-80ed-760b70cfe955.png)

I didn't realize, I have to create env file. since set up the step to step didn't tell us, we need to

[2018-05-17 21:01] texas2010 commented on #44
I think the first-timers can do this. I am sure this is simple to fix.

[2018-05-18 11:03] absolitudo commented on #44
I think it's worth mentioning here that some of the commands require gatsby to be globally installed, which is not included in the instructions either.

[2018-05-18 13:17] tchaffee commented on #30
@Bouncey Can this issue be closed now or is there more work to do?

[2018-05-18 13:18] Bouncey commented on #30
Thanks @tchaffee :+1:

[2018-05-18 13:18] #30 closed

[2018-05-18 13:38] Bouncey commented on #36
So at the minute, in the depths of `gatsby-node.js` we are using a plugin called `CopyWebpackPlugin` which copies js/css files that the monaco editor uses into the public dir.

This new plugin I think either does the same job and is supported by the MS Monaco team, of it offers the files up to webpack to include them in the bundle.

Testing would be just running locally and seeing that the editor

[2018-05-18 14:36] mstellaluna opened #46 "Map expands past the modal"
#### Challenge Name

Not a challenge - main page issue

#### Issue Description

When accessing the map from the main page => Explore the lesson map (button) => expand several menu group items in the modal and it exceeds the modal size

#### Browser Information

* Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
* Operating System:  Windows 10 Pro 64-bit

[2018-05-18 14:47] mstellaluna opened #47 "Map Modal does not close automatically when selecting a lesson from map"
Challenge Name
Not a challenge - main page issue

Issue Description
When selecting a lesson from the modal, it re-directs you to the challenge but the modal does not close automatically, you need to use the 'x' to close out the modal.

This happens from the map on the main page and also if you select the 'View the curriculum' button when on a lesson to view the map.

Browser Information
Browser Na

[2018-05-18 15:10] mstellaluna opened #49 "Pane re-sizing allows you to shrink but not expand"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/say-hello-to-html-elements
Issue Description
There are several issues here (similar to the issue that already existed in Beta):

1) When shrinking and expanding the lesson pane => the editor size does not expand to the new pane size when expanding the lesson pane. No issue on expanding the lesson pane, adjusts

[2018-05-18 15:46] #46 closed

[2018-05-18 15:46] #47 closed

[2018-05-18 17:22] mstellaluna opened #51 "Test results overlap onto the preview area when panes at default size"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-visual-balance-using-the-text-align-property
Issue Description
The test results are overlapping the preview area at the default pane size. The ❌ or ✔️ appear to be too large, making either:

1) the text squished together
![image](https://user-images.githubusercontent.com/22984739/40248592-727b04ee-5a9e

[2018-05-18 17:49] mstellaluna opened #52 "Pasting into editor menu text is too dark - visibility issue"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

Issue Description
Right clicking into the editor to past

[2018-05-18 17:51] mstellaluna opened #53 "Editor test results logging special characters instead of text"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/link-to-external-pages-with-anchor-elements

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

Issue Description
The test results in the editor are log

[2018-05-18 18:03] mstellaluna opened #54 "Test Results in Preview Pane showing passed on incorrect code"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/link-to-internal-sections-of-a-page-with-anchor-elements
Issue Description
The test results in the preview pane are showing as all passed but the code is incorrect. The editor console is showing the correct information.

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version

[2018-05-18 18:07] beaucarnes commented on #49
I'm not sure if this is the same issue or not but I'll just put it here since it is similar. When I resize, the editor pane stays small. Also, on small window sizes, the error messages in the bottom right are hard to see. See gif for demonstration.
![fcc1](https://user-images.githubusercontent.com/1513130/40250607-c4316b1a-5aa4-11e8-8d51-f076151fa4d6.gif)

[2018-05-18 18:13] Bouncey commented on #54
The code looks good for the href test you pointed out @mstellaluna

[2018-05-18 18:15] beaucarnes opened #55 "Modal background not long enough"
The curriculum map modal background does not continue to the bottom of a long list. See below.
![fcc2-modal](https://user-images.githubusercontent.com/1513130/40250936-d6b8912c-5aa5-11e8-8b25-4c264ba07036.gif)

[2018-05-18 18:20] mstellaluna commented on #54
@Bouncey  I am closing this out due to being my error , I didn't notice the test results on the preview pane go past and I had to scroll down in that section. 😄

[2018-05-18 18:20] #54 closed

[2018-05-18 18:25] beaucarnes opened #56 "Unable to vertically resize code / tests frames"
The mouse curser indicates that it should be possible to vertically resize the code / test frames. However, it is not possible. For a better user experience for people on small screens, this should be possible. See gif below.

![fcc3](https://user-images.githubusercontent.com/1513130/40251326-05bcfac0-5aa7-11e8-9121-c2ae346735b5.gif)

[2018-05-18 18:33] Bouncey commented on #55
Hi @beaucarnes, can you try a hard refresh of the page. We have service workers on the site and you might be working off an old version. We fixed this in #50

Please let me know how you get on

[2018-05-18 18:34] beaucarnes opened #57 "Selecting item in curriculum map should close modal"
Selecting item in curriculum map should close map modal. Currently it updates the page but the modal stays open.
![fcc4](https://user-images.githubusercontent.com/1513130/40251882-91ac9b3e-5aa8-11e8-87e8-be79f32f53e9.gif)

[2018-05-18 18:35] Bouncey commented on #52
That is handled by the Monaco editor, I'm not sure how much control we have over this.

[2018-05-18 18:37] Bouncey commented on #57
Definitely  fixed this in #50.

Please try a hard refresh and attempt it again 👍

[2018-05-18 18:44] mstellaluna opened #58 "Example link in lesson text opens to FCC website in same tab"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/nest-an-anchor-element-within-a-paragraph

Issue Description
In the lesson text opens to freecodecamp.org website in the same tab. My suggestion is to have it open to a new tab so the camper does not lose lesson they are on.

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Ve

[2018-05-18 18:44] beaucarnes opened #59 "Links to Glitch starter project should open in new window"
Some challenges link to a Glitch starter project. The link opens in the same window. It would be more user-freindly if the link opened in a new window/tab. Most people clicking on that link will want the fCC page to still be open so they can submit their project. This also applies to GitHub link.

Example url: https://deploy-preview-45--freecodecamp-learn.netlify.com/information-security-and-quali

[2018-05-18 19:00] beaucarnes opened #60 "Many introductory challenges missing from learn curriculum"
The challenge titled "Introduction to the Managing Packages with npm Challenges" is in _beta_ but not in _learn_. Many other introductory challenges are also missing. They are important because they introduce Glitch which is referred to in many other tasks.

Many tasks start with the line, "As a reminder, this project is being built upon the following starter project on Glitch, or cloned from GitH

[2018-05-18 19:04] beaucarnes commented on #58
Normally I agree that links should open in a different tab but in this case I don't think it should open to a new tab. This is an example of the type of link that does not open into a new tab. If it opened into a new tab, it would be using HTML that is different than the HTML that the lesson text says it is an example of.

[2018-05-18 19:08] mstellaluna commented on #58
@beaucarnes Agreed, although if a camper though decides to click on that link as it is an active link, it will bring them to the freecodecamp.org website in the same tab they are viewing the lesson.

[2018-05-18 19:16] beaucarnes opened #61 "Glitch starter project should have all references to 'HyperDev' changed to 'glitch'"
This issue is not actually in the codebase but it is part of the curriculum. The Glitch starter project should have all references to 'HyperDev' changed to 'glitch'. @QuincyLarson may have to do this one and it may not be high priority.

![image](https://user-images.githubusercontent.com/1513130/40253595-59c3a0d6-5aae-11e8-8f80-a5122c1b712c.png)

[2018-05-18 19:20] ekaoddlass commented on #44
Hi, I would like to try and work on this issue please. How do I claim it?

[2018-05-18 19:40] Bouncey commented on #44
It is yours @ekaoddlass 👍

[2018-05-18 19:50] beaucarnes opened #63 "Test suite for projects is not working"
The test suite on projects is not working. Projects pass no matter what. This seems to apply to all projects.

In the example below, I should not have passed by entering 'http://freecodecamp.org'.

![image](https://user-images.githubusercontent.com/1513130/40254825-ef141ea0-5ab2-11e8-918e-8fa8df9e006e.png)

[2018-05-18 19:57] beaucarnes commented on #55
Not fixed.
![fcc5](https://user-images.githubusercontent.com/1513130/40255145-1a158052-5ab4-11e8-98f5-2e94a726b9fd.gif)

[2018-05-18 19:59] beaucarnes commented on #57
Not fixed. Am I testing the correct site?
https://deploy-preview-45--freecodecamp-learn.netlify.com/

[2018-05-18 20:01] beaucarnes commented on #55
Fixed now that I'm testing on the correct url!

[2018-05-18 20:01] #55 closed

[2018-05-18 20:01] beaucarnes commented on #57
Fixed now that I'm testing on the correct url!

[2018-05-18 20:01] #57 closed

[2018-05-18 20:30] SMM-dev commented on #51
After playing around with Firefox's page inspector, I think I've isolated the issue to the **.test-result {height}** rule in the _test-suite.css_ file.
So how do I go about running my local, cloned copy of the application to test my changes before making a PR?
Obviously I'm new to this, so any help/advice is appreciated.

[2018-05-18 20:34] ekaoddlass commented on #52
It can be fixed by adding one line of CSS to **templates/Challenges/classic/classic.css**

`.monaco-menu .action-label {
  color: #a2bd9b;
}`

Is this an acceptable approach? Shall I create a PR for this?

Cheers!

[2018-05-18 21:42] ekaoddlass commented on #51
@SMM-dev See https://github.com/freeCodeCamp/learn/blob/master/CONTRIBUTING.md, I just updated it with an extra step (copy .env file -- I actually could run this on localhost without doing it but apparently some others could not). Also, it may be necessary to have Gatsby installed globally.

[2018-05-18 21:46] Bouncey commented on #63
Projects do not have any test suits. The solutions to projects are public if the camper has claimed and enabled public viewing of their certifications.

[2018-05-18 21:49] Bouncey commented on #60
The introduction challenges are now available under `/:superBlock/:block` so your example would be `/apis-and-microservices/managing-packages-with-npm`

I agree that this should be clearer. If a camper is progressing through the challenges, then they will hit these introduction challenges as part of the progression

[2018-05-18 21:59] ekaoddlass commented on #44
PR submitted and merged -- this was my first PR!

Out of curiosity though, I did not copy the sample.env file (confirmed with `ls` that my local clone does not consist of .env file) but I could run `yarn develop` without problem. Does it depend on your machine's global setting whether you need .env or not?

[2018-05-18 22:48] mstellaluna opened #65 "Preview area empty when lesson loads"
Challenge Name
Affects all the HTML and CSS lessons

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

Issue Description
The lesson(s) load with an empty preview area, the content appears once code starts to be entered into the editor. I am

[2018-05-18 23:06] mstellaluna opened #66 "Assert tests appear in the preview window while typing in editor"
Challenge Name
https://learn.freecodecamp.org/responsive-web-design/basic-css/prioritize-one-style-over-another

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

Issue Description
The assert tests show up in the preview pane while typing i

[2018-05-19 01:34] mstellaluna opened #67 "CTRL + Enter doesn't work to complete challenges (RWD)"
Challenge Name
All Projects under Responsive Web Design
(i.e) https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-survey-form

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

Issue Description:
CTRL

[2018-05-19 05:37] SMM-dev commented on #51
@ekaoddlass thanks! I'll read up and start working on a fix asap.

[2018-05-19 07:54] Bouncey commented on #66
That isn't the assert tests, that looks like the test runner we use inside the test-frame/preview. I have never seen that before.

@mstellaluna Was it in the preview or editor? Did you type anything weird? Does it happen all the time?

[2018-05-19 08:01] Bouncey commented on #63
Closing as this is expected behaviour.

[2018-05-19 08:01] #63 closed

[2018-05-19 08:05] Bouncey commented on #53
The message need to be in unescaped going into the output console.

[2018-05-19 10:37] #52 closed

[2018-05-19 13:06] mstellaluna commented on #66
@Bouncey ah, sorry i didnt know what it was. It was in the preview window. It started blank, I started typing, as I am typing this shows up in the preview pane, once I'm done typing it's gone and the preview windows what it supposed to.

here's the breakdown:

1) lesson loads, preview area is empty white area
2) as I'm writing .pink-text, the preview area flashes and changes to a black background

[2018-05-19 13:19] mstellaluna commented on #28
I am running Windows 10 Pro 64-bit, if you need me to try anything on windows, let me know.

[2018-05-19 13:31] mstellaluna commented on #66
@Bouncey so, to add something further. If I am typing quickly it doesn't show up in the preview pane. if I am typing class=" and I stop for a second (let say to check the name of the css class again) or type slowly, it shows up. not sure if this help or not.

[2018-05-19 17:27] mstellaluna opened #69 "Cannot return to Curriculum map from section intro page"
Challenge Name
Not Challenge Specific - it originates from the curriculum map - section introduction pages
(eg: https://learn.freecodecamp.org/responsive-web-design/applied-visual-design )

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

[2018-05-19 18:31] SMM-dev commented on #44
@ekaoddlass Grats on the first PR :)
There was an extra word "branch" in your changes so I modified the file a bit more.
As for the samle.env file, I got an error when trying to copy it but was still able to run the build without it... so it may just be a necessary step for certain situations only.

[2018-05-19 20:59] #51 closed

[2018-05-19 21:01] Bouncey commented on #44
Closed via #70

[2018-05-19 21:01] #44 closed

[2018-05-19 21:02] Bouncey commented on #66
Grizzly!

Nice find @mstellaluna :+1:

[2018-05-19 21:05] Bouncey commented on #66
I cannot reproduce on Ubuntu in FF or Chrome, I think it is a windows thing

[2018-05-19 21:11] #65 closed

[2018-05-19 21:43] mstellaluna commented on #66
@Bouncey I have a VM with RHEL Developer Edition and one with Ubuntu. do you want me to try it there to see if I can re-produce on Linux?

[2018-05-19 21:57] #69 closed

[2018-05-19 21:57] Bouncey commented on #66
Sure, anything can help

[2018-05-19 22:56] #60 closed

[2018-05-19 23:51] mstellaluna commented on #66
@Bouncey I tried it on RHEL Developer Edition 7.5.0 with FF ESR 52.7.0 (64-bit)  and with Ubuntu 18.04 LTS with FF Quantum 59.0.2 64-bit, I'm getting the issue on both.

I was able to pin-point exactly when this shows up.

When you are typing in the class pink-text into the element and stop at the open quotation, the test runner  will show up in the preview pane and stay there until the quotation

[2018-05-20 00:07] QuincyLarson opened #75 "Various Style and wording issues with learn"
While QA'ing another PR I noticed several minor style and wording issues.

1. ![bootstrap___freecodecamp](https://user-images.githubusercontent.com/985197/40273919-9405d73c-5b8f-11e8-9c9a-641c227ca077.png)
2. ![welcome_to_learn_freecodecamp_](https://user-images.githubusercontent.com/985197/40274238-a26777ec-5b97-11e8-9d90-4ee8bfbd460e.png)
3. ![bootstrap___freecodecamp](https://user-images.github

[2018-05-20 10:36] scissorsneedfoodtoo commented on #56
@beaucarnes, I noticed the same thing recently. I think I found a solution we can implement similar to the one [here](https://github.com/superRaytin/react-monaco-editor/issues/53) and am working on a PR now.

[2018-05-20 12:02] scissorsneedfoodtoo commented on #49
@mstellaluna and @beaucarnes, I'm working on this now. Made some changes to both the editor and the output so that they expand and shrink horizontally when the browser window is resized. I'm currently working on a way to resize them vertically, and also resize horizontally/vertically when the panes resized, but the window size remains the same.

[2018-05-20 17:45] ekaoddlass commented on #75
![screen_shot_2018-05-21_at_12_26_01_am](https://user-images.githubusercontent.com/6597211/40281826-319c165e-5c90-11e8-8afb-c9addcd1ea32.png)

Re: point 2, then should we change the title here into (eg) "Curriculum"?

[2018-05-20 23:41] Bouncey commented on #67
I think it is triggering the form submit when you are pressing Enter, the Ctrl modifier isn't doing anything.

There is no user integration at this very minute, so nothing we seem completed in the map

[2018-05-20 23:41] Bouncey commented on #56
Awesome @scissorsneedfoodtoo!

[2018-05-21 00:06] mstellaluna commented on #75
i'm adding this also here instead of a separate one ... the View the curriculum button on the section intro pages is a different size and color than the go to the first lesson button

![image](https://user-images.githubusercontent.com/22984739/40285376-4c7b05e2-5c69-11e8-89e3-4a4eb7a80671.png)

[2018-05-21 00:33] mstellaluna opened #77 "inconsistent const variable declaration"
Challenge Name
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/mutate-an-array-declared-with-const

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3359.117 (64-bit)
Operating System: Windows 10 Pro 64-bit
Mobile, Desktop, or Tablet: Dell Latitude Laptop (15")

Issue Description:
The previous challenge  ES6 - Declare a Re

[2018-05-21 00:45] HoopsFTWGG opened #78 "beta FCC React-Redux section errors halt progress"
Specifically, in the react-redux section, upon running tests on the challenges after I've finished the code (which I know 100% is correct from visiting previous solves and other forum posts) I am presented with the following issues:

"Cannot read property 'rendered' of undefined" (note that this one appears in the console window below the code editor and not the chrome console). After google searc

[2018-05-21 01:10] #77 closed

[2018-05-21 07:26] raisedadead opened #79 "General React/Jest testing errors"
@LBWright commented on [Mon May 21 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17203)

#### Describe your problem and - if possible - how to reproduce it
Going through Beta with React and after going through a few of the classes, I'm receiving errors or the tests just aren't passing. The first error is `f(...) undefined' in the stateless component section. The second of the errors  i

[2018-05-21 09:50] rishi-amura commented on #53
@Bouncey I would like to work on it, please let me know if it's not been assigned to anyone.

I guess we can use this article for fix it: https://paulschreiber.com/blog/2008/09/20/javascript-how-to-unescape-html-entities/

[2018-05-21 09:53] rishiip commented on #53
@Bouncey I would like to work on it, please let me know if it's not been assigned to anyone.

I guess we can use this article for fix it: https://paulschreiber.com/blog/2008/09/20/javascript-how-to-unescape-html-entities/

[2018-05-21 10:01] Bouncey commented on #53
It is yours @rishiip :+1:

[2018-05-21 10:39] nikrb commented on #59
anchor tags need `target="_blank"`.
Few dozen instances in half a dozen files:
./challenges/06-information-security-and-quality-assurance/quality-assurance-and-information-security-projects.json
./challenges/06-information-security-and-quality-assurance/advanced-express-tools.json
./challenges/06-information-security-and-quality-assurance/testing-with-chai.json
./challenges/06-information-security

[2018-05-21 10:57] #78 closed

[2018-05-21 10:57] #79 closed

[2018-05-21 12:49] #56 closed

[2018-05-21 12:49] Bouncey commented on #49
Closed via #82

[2018-05-21 12:49] #49 closed

[2018-05-21 13:25] mstellaluna opened #84 "jQuery code appears in the preview pane"
Challenge Name(s)
jQuery - Target HTML Elements with Selectors Using jQuery
https://learn.freecodecamp.org/front-end-libraries/jquery/target-html-elements-with-selectors-using-jquery
then each lesson in jQuery following this one ..
it appears to be affecting the challenges as I can't pass any of them

Browser Information
Browser Name, Version:
Firefox Quantum 60.0.1 (64-bit)
Chrome: Version 66.0.3

[2018-05-21 13:28] Bouncey commented on #84
That's interesting... The script tags are being escaped, by us as well. I will dig into it.

Thanks @mstellaluna :sparkles: :sparkles:

[2018-05-21 14:30] johnkennedy9147 commented on #66
@Bouncey @mstellaluna I can recreate this issue, on Win7 in both FF and Chrome.  It looks like it is rendering some javascript when there is an unclosed attribute. ending in some base64 encoded data.

![image](https://user-images.githubusercontent.com/26827682/40310887-1debb620-5d06-11e8-893c-7f42b1736bb2.png)

It only happens if the unclosed attribute is on the last element and not followed by an

[2018-05-21 14:43] alvinkl commented on #53
@rishiip you can use this function
[code]

Good luck! 👍

[2018-05-21 16:11] rishiip commented on #53
@alvinkl Sure 🎉

[2018-05-21 17:25] tchaffee opened #86 ""yarn develop" fails"
`yarn develop` was working fine for me until today when I did a rebase over master. After the rebase, I ran `yarn install` which completed succesfully.

Now I'm getting this error when running `yarn develop`:

[code]

# node --version
v8.11.1

# npm --version
5.6.0

# $(npm bin)/yarn --version
1.6.0

Ubuntu 16.04.4

[2018-05-21 17:27] tchaffee commented on #36
I tried working on this today, but I'm blocked by issue #86.

[2018-05-21 20:09] johnkennedy9147 commented on #66
@Bouncey @mstellaluna forgot to mention its not specific to the mentioned challenge, it happens in all the challenges with a preview pane.

[2018-05-21 22:32] tchaffee commented on #86
@Bouncey why did you close this? Is this a dup or something?

[2018-05-21 22:34] Bouncey commented on #86
Must have been a slip of the finger, sorry

[2018-05-21 23:26] Bouncey commented on #53
@alvinkl @rishiip, we do not need to create any elements for this. It is just string manipulation

[2018-05-21 23:27] Bouncey commented on #53
Oh, now I get it. I'll be quiet for a moment

[2018-05-22 06:53] #75 closed

[2018-05-22 14:16] rishiip commented on #53
Hi @Bouncey @alvinkl As I am new to React. I am figuring out how method works in react app. I already figured out the file in which I needs to do modification. I'll let you know, if I am not able to fix it. So that you can assign it to someone else. :blush:

[2018-05-23 08:25] scissorsneedfoodtoo commented on #86
@tchaffee, are you still having a problem with this? I used nvm to switch to the same versions of node and npm you used and was able to complete the build. There were times in the past where I needed to run `yarn install` twice. Maybe that's causing the issue here?

[2018-05-23 18:50] joops75 commented on #67
I've fixed the issue of the Ctrl key having no effect when pressing enter on my machine (Windows 7 64-bit, Firefox Quantum 60.0.1 64-bit). It involves adding in 'onkeydown' and 'onkeyup' event listeners. Not sure if this approach is overkill. Should I submit a pull request? Alternatively, the button text could be simply changed from "I've completed this challenge (Ctrl + Enter)" to "I've completed

[2018-05-24 05:41] #84 closed

[2018-05-24 07:41] alvinkl commented on #66
@Bouncey I think it's because of the hot reload.
Maybe we can just display more readable error message if the iframe runner catches an error. (I haven't investigate about this yet)
I'll try to fix it.

[2018-05-24 09:08] nikrb commented on #66
yes I think it's unbalanced quotes, haven't found the tests yet thought - doh!

Looks like if there are other issues, e.g. invalid css color name, the Preview style is
changed to display='none', which I assume is done in the tests, somewhere.

in templates/Challenges/utils/frame.js::writeTestDepsToDocument:
`tests.__getUserInput = fileName => toString(sources[fileName]);`
seems a good place to che

[2018-05-24 12:15] nikrb commented on #66
good find dude. Fix seems to work, though can't help thinking the Preview pane should be cleared for invalid code (though I couldn't find it :). e.g. if you put an invalid css color name in, the Preview pane clears, rather than leaving the last valid Preview up. See what the 'powers that be' think.

[2018-05-24 13:41] nikrb commented on #66
ignore me, seems I picked on the one thing that made it look like Preview pane is cleared. In fact invalid color leads to black, so it isn't cleared at all, just looks like it - doh!

[2018-05-24 14:00] nikrb commented on #86
@tchaffee I can't reproduce this either. Have you tried `nvm install --lts` (courtesy raisedadead). Just a thought. I have:
node: 8.11.2
yarn: 1.6.0

[2018-05-24 14:08] raisedadead opened #88 "Disable the intellisense on the Monaco editor"
The autocomplete intellisense on the monaco editor brings up a huge load of things that we do not want, its best we disable it.

[2018-05-24 14:10] raisedadead opened #89 "Monaco Editor should use the light mode in the light version of the learn app."
The theme to be used on the monaco editor should be light one on the light version of learn

[2018-05-24 14:11] raisedadead opened #90 "Disable the minimap view on the monaco editor"
We do not want the minimap on the monaco editor.

[2018-05-24 14:12] raisedadead commented on #89
https://microsoft.github.io/monaco-editor/

[2018-05-24 14:12] raisedadead commented on #88
https://microsoft.github.io/monaco-editor/

[2018-05-24 14:14] raisedadead opened #91 "Increase the spacing in between the challenges"
![image](https://user-images.githubusercontent.com/1884376/40491065-becc902e-5f8a-11e8-9534-9498b0b40b99.png)

[2018-05-24 19:36] tchaffee commented on #86
I got it working now. Not sure what did the trick, but running `nvm install --lts` did **not** fix it. I deleted the `package.json.lock` and `yarn.lock` local files, did a rebase over upstream master, and now it's working. Thanks for your help!

[2018-05-24 19:36] #86 closed

[2018-05-24 20:18] nikrb commented on #91
@raisedadead contributing guidelines are a bit short, so thought I'd post here before pr'ing. The following seems to work, *if* 5px is enough space.
/templates/Introduction/intro.css:
[code]

[2018-05-24 20:28] raisedadead commented on #91
@nikrb works! Please proceed with a PR. And it would be awesome, if you can post a screenshot of how it looks when you have made the change.

[2018-05-24 20:35] Greenheart opened #93 "JSONP errors when new bundle available (ServiceWorker)"
Well sorry for the bad background information on this one... 😅

![bild](https://user-images.githubusercontent.com/6125097/40511987-b5e2d6aa-5fa1-11e8-9a66-a506baa6242c.png)

Unfortunately I don't have much information as I can't reproduce it.

This happened on the very first page load - all subsequent ones worked perfectly.

The Firefox v60.0.1 dev tools warned about 3 scripts that failed to load.

[2018-05-24 20:38] nikrb commented on #90
@raisedadead I've looked through a few sections (by no means all) but I don't see the minimap - unless I toggle the Editor options to true. Can you give us a link to where it is visible? (getting ready to blush here)

monaco options in templates/Challenges/classic/Editor.js Editor constructor:
[code]

[2018-05-24 20:45] raisedadead opened #94 "/current-challenge on home does not have my current challenge."
@raisedadead commented on [Fri May 25 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17231)

![2018-05-25 02 12 15](https://user-images.githubusercontent.com/1884376/40512683-33dc0378-5fc1-11e8-83b7-0b29fb9fd351.gif)

---

@raisedadead commented on [Fri May 25 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17231#issuecomment-391853297)

I think my last challenge before this w

[2018-05-24 20:46] raisedadead commented on #90
Yup.. that's right. I must have been confused. Thanks a lot.

[2018-05-24 20:46] #90 closed

[2018-05-24 20:47] raisedadead commented on #93
That is fine, it could be a caching issue. And a refresh should actually fix it. I don't know if we have a clean way to let this be known to users.

[2018-05-24 20:49] raisedadead commented on #9
🌟 ARE WE THERE YET? 🌟

[2018-05-24 20:50] Greenheart commented on #93
Good point, the caching idea is potentially the problem - I had recently visited `learn.freecodecamp.org` from that browser.

In other browsers that loaded the new version, it worked fine.

I imagine a ServiceWorker, that could take control of the cache would be ideal to solve this without involving our users. It could work in the background to keep data offline as well as caching the main applica

[2018-05-24 20:53] raisedadead commented on #93
We use, Gatsby there is a service worker there already.

[2018-05-24 20:55] Greenheart commented on #93
Perhaps it could intercept the request for the new bundle version as well?
Or rather, if network is present, force-update to use the latest bundle.

[2018-05-25 00:31] huyenltnguyen commented on #89
This issue looks easy. I'll grab this one and take it as a chance to try out this repo.

[2018-05-25 02:47] #88 closed

[2018-05-25 02:50] #89 closed

[2018-05-25 08:17] Ujjwal1604 opened #97 "Pane resizing Doesn't work properly."
The resizing of the **Coding pane** and the **Viewer pane** doesn't work properly. Please fix this issue. Thanks.<br>
![pan resizing](https://user-images.githubusercontent.com/39334002/40533767-9d18b79a-5fb8-11e8-8a85-e62bc91e6a12.gif)

[2018-05-25 08:59] Bouncey commented on #94
Your last challenge in the db is in the QA w/chai section, I don't think we are currently updating the current challenge from learn

[2018-05-25 09:05] Bouncey commented on #94
On the action of `challengeMount`, we should update the users current challenge on the server. This requires a POST to `/external/update-my-current-challenge` with a body of `currentChallengeId`.

See the handler [here](https://github.com/freeCodeCamp/freeCodeCamp/blob/bb4bcbfb45d8c3477aaba53101fb39e446c74a84/server/boot/settings.js#L56).

For this issue, you will require both learn and `freeCodeC

[2018-05-25 09:06] Bouncey commented on #93
There is a service worker, and it does require a refresh with the bundles update. I would welcome and improvement on this, or the removal is none is found.

[2018-05-25 13:01] Bouncey commented on #91
Closed via #96

[2018-05-25 13:01] #91 closed

[2018-05-25 13:02] Bouncey commented on #9
Closed via #92

[2018-05-25 13:02] #9 closed

[2018-05-25 14:55] scissorsneedfoodtoo commented on #97
@Ujjwal1604, great catch! Thank you for pointing this out.

I've been looking at this and the problem seems to be with how Firefox handles `<iframe>` elements. The panes resize correctly when I tested this on Chrome, but not on Firefox for some reason. I can try to dig more into this over the next couple of days.

[2018-05-26 13:55] raisedadead opened #102 "Add no user verified redirects on learn"
- [ ] Send back to main app on `!user.email && !user.emailVerified`

[2018-05-26 20:38] #94 closed

[2018-05-26 22:46] QuincyLarson opened #103 "Checkmarks should be on the left side of challenges on curriculum modal"
Here's what

learn.freecodecamp.org currently looks like:

![basic_html_and_html5___freecodecamp](https://user-images.githubusercontent.com/985197/40580813-ba5f51fc-6179-11e8-993a-03354a5962e2.png)

And here's what we want it to look like based on our old map:

![delete_html_elements___freecodecamp](https://user-images.githubusercontent.com/985197/40580808-9e95dbd0-6179-11e8-9f25-e00d1f78ff7f.png)

[2018-05-27 08:37] #97 closed

[2018-05-27 15:27] tchaffee commented on #36
@Bouncey I gave this a shot and am stuck. I keep getting errors where the stack trace points to webpack and properties of `compiler.hooks` being non-existent. When I dug a little deeper I noticed that gatsbyjs requires `"webpack": "^4.5.0"` and gatsbyjs only supports webpack v1. Quite a gap.

One of the problems seems to be around a change to Plugins, which "should use Compiler.hooks.xxx.tap(<plug

[2018-05-27 15:28] tchaffee commented on #103
I can take this on if no one has yet.

[2018-05-28 13:39] tchaffee commented on #103
I started to look at this and I think in order to get the checkmarks to appear I need to be logged in? When I try to log in it takes me to https://auth.freecodecamp.org which then redirects me to https://beta.freecodecamp.org/ when I enter the authorization code. How can I authenticate locally when testing?

[2018-05-28 14:11] tchaffee opened #105 "Cannot authenticate when testing locally using `yarn develop`"
When developing and testing local, if you click the login button it takes you to https://auth.freecodecamp.org which then redirects you to https://beta.freecodecamp.org/ when you enter the authorization code that is emailed to you. How can we authenticate locally when testing?

[2018-05-28 14:12] tchaffee commented on #103
I opened a new issue https://github.com/freeCodeCamp/learn/issues/105.

[2018-05-28 15:07] tchaffee commented on #103
@raisedadead You can unblock this. I found a way to test it without being logged in. I'll have a PR soon.

[2018-05-28 20:17] raisedadead commented on #103
@tchaffee you are amazing! Can you please share the workaround for benefit of others? And thanks a lot for working on this.

[2018-05-28 20:18] Bouncey opened #107 "Add a `Download my solution` button to the Completion Modal"
As we are not storing user challenge solutions in the database any more, we should offer a `Download my solution` button on the `<CompletionModal />`

This button will look something like
[code]

The button will allow a user to download their solution in `JSON` format.

@utsab @imcodingideas

[2018-05-28 21:36] tchaffee commented on #103
@raisedadead The auth workaround is underwhelming and might not be so useful to others. But you can see it in this comment on the PR. https://github.com/freeCodeCamp/learn/pull/106#issuecomment-392590932

[2018-05-29 19:05] tchaffee commented on #67
@Bouncey @joops75 Any update on this?

[2018-05-29 19:13] tchaffee commented on #107
@Bouncey I'm not clear on why it's important that we won't be storing use solutions in the database? Would there be a technical challenge to downloading all of your solutions? Are solutions stored locally? Hopefully? Maybe not. I just went back to a previously completed lesson and my code is not there. That's surprising. Is that intended? I would expect to be able to go back to stuff I completed a

[2018-05-30 09:11] #102 closed

[2018-05-30 19:14] nikrb commented on #107
@Bouncey I have a solution for this [here](https://github.com/nikrb/learn/tree/enh/download-solution).
I pass the dashedName as a prop to CompletionModal but not confident that's the right way to do it.
[code]

[2018-05-30 20:20] tchaffee opened #115 "Map is not showing completed challenges"
I can sign in using the legacy github method and get the following screen, so I'm sure signin was successful:

![selection_104](https://user-images.githubusercontent.com/148813/40744751-eaf834be-642b-11e8-8b78-1eac8790539c.png)

When I click the button to "Go to my next coding challenge", it still shows the login button:

![selection_105](https://user-images.githubusercontent.com/148813/40744834-2

[2018-05-30 21:38] nikrb commented on #66
seems source [here](https://github.com/freeCodeCamp/learn/blob/00497f3dcdde99f165ac086368260a378f1474e6/src/client/frame-runner.js#L7) is appended to user solution when unbalanced quotes are present and gets passed to Preview.

`e),checkChallengePayload=document.__checkChallengePayload;function isPromise(e)`

[2018-05-31 04:40] akkatracker commented on #115
A lot fo people have an issue with the logins not carrying across (myself included), if you wait a bit I've found that sometimes it'll log you in and then the map will populate.

[2018-05-31 14:33] Greenheart commented on #93
![fcc-learn-cache-error](https://user-images.githubusercontent.com/6125097/40787838-de14b2a4-64ee-11e8-8d4a-6333b7a24ac0.png)
It happened again. Pretty sure this is a caching error, when the outdated service worker tries to fetch the old bundle that no longer exists.

And without any bundle to start the Learn-app, nothing happens once the button is clicked.

Since this occurred again now that I tr

[2018-05-31 17:35] SuperGeniusZeb opened #121 ""Applied Visual Design - Create a More Complex Shape Using CSS and HTML" does not use CSS3 pseudo-element selector syntax"
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-a-more-complex-shape-using-css-and-html

This lesson currently uses the old CSS2 pseudo-element syntax: `thing:pseudo-element`. It should be updated to use the CSS3 syntax: `thing::pseudo-element`.

See also:
https://developer.mozilla.org/en-US/docs/Web/CSS/pseudo-elements
https://drafts.csswg.org/selectors-3/#pseudo

[2018-05-31 17:44] SuperGeniusZeb opened #123 ""Applied Visual Design - Use the del Tag to Strikethrough Text" is using the wrong element semantically"
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/use-the-del-tag-to-strikethrough-text/

This lesson teaches that the `<del>` element represents "a section of text is no longer valid". However, according to the HTML spec, that is the purpose of the `<s>` element. The `<del>` element is supposed to be used to represent text that has been deleted from a document during an e

[2018-05-31 17:59] thomaskuntzz opened #125 "How about using Material Components?"
Google recently unveiled big changes to Material Design, and they have great tools for creating a custom Material Design theme. Material Components is the framework that makes it easy to actually implement it in code.

Considering the regression in the UI many people complain about right now, I wondered if you ever considered using such a solution to create a unified design across all freeCodeCamp

[2018-06-01 01:42] SuperGeniusZeb opened #127 ""Applied Accessibility - Wrap Content in the article Element" cannot be completed because it always thinks there are <div>s"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/wrap-content-in-the-article-element/

This lesson cannot be completed because the second test ("Your code should not have any `div` tags.") always fails, no matter what the content of the editor is.

Tested in Firefox Nightly.

Related:
- #128
- #129
- #130
- #134
- #136

[2018-06-01 01:50] SuperGeniusZeb opened #128 ""Applied Accessibility - Make Screen Reader Navigation Easier with the header Landmark" cannot be completed because it always thinks there are <div>s"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-header-landmark

This lesson cannot be completed because one of the tests ("Your code should not have any `div` tags.") always fails, no matter what the content of the editor is.

Tested in Firefox Nightly.

Related:
- #127
- #129
- #130
- #134
- #136

[2018-06-01 01:53] SuperGeniusZeb opened #129 ""Applied Accessibility - Make Screen Reader Navigation Easier with the nav Landmark" cannot be completed because it always thinks there are <div>s"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-nav-landmark

This lesson cannot be completed because one of the tests ("Your code should not have any `div` tags.") always fails, no matter what the content of the editor is.

Related:
- #127
- #128
- #130
- #134
- #136

[2018-06-01 01:56] SuperGeniusZeb opened #130 ""Applied Accessibility - Make Screen Reader Navigation Easier with the footer Landmark" cannot be completed because it always thinks there are <div>s"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-screen-reader-navigation-easier-with-the-footer-landmark

This lesson cannot be completed because one of the tests ("Your code should not have any `div` tags.") always fails, no matter what the content of the editor is.

Also, there are 2 duplicate `div` tests, unlike the previous 3 lessons.

Related:
- #127
- #128
- #

[2018-06-01 03:31] huyenltnguyen opened #131 "UI: Remove horizontal scrollbars"
The editors have word-wrap enabled and the challenge description is well-contained, so I think there is no need for the horizontal scrollbars.

[2018-06-01 11:05] Bouncey commented on #128
I cannot reproduce, can you share your code please?

[2018-06-01 11:19] Bouncey commented on #127
I cannot reproduce, can you share your code please?

[2018-06-01 11:20] Bouncey commented on #129
I cannot reproduce, can you share your code please?

[2018-06-01 11:20] Bouncey commented on #130
I cannot reproduce, can you share your code please?

[2018-06-01 11:44] Bouncey commented on #121
There is a difference between `:` and `::`.

`:` is for pseudo classes like `:hover` and `:focus`

`::` is for pseudo elements like `::before` and `::after`

In most cases [it doesn't really matter](https://www.smashingmagazine.com/2016/05/an-ultimate-guide-to-css-pseudo-classes-and-pseudo-elements/#single-or-double-colon-for-pseudo-elements)

I would be happy to see the changes made in freeCodeCa

[2018-06-01 11:47] Bouncey commented on #115
@tchaffee we have rolled out a few changes since your screenshots were taken. Can you please try again and let us know if this is resolved.

[2018-06-01 13:20] SuperGeniusZeb commented on #128
[code]
The `div` test also fails if there is nothing in the editor.

I just tested in Chromium, and the issue is not happening there. Can you reproduce the issue in Firefox?

Also, I have noticed that the website switched back and forth between 2 designs yesterday. Does the website look like this to you right now?
![image](https://user-images.githubusercontent.com/19592990/40842621-153344d2-6574-1

[2018-06-01 13:22] SuperGeniusZeb commented on #127
[code]
The `div` test also fails if there is nothing in the editor.

I just tested in Chromium, and the issue is not happening there. Can you reproduce the issue in Firefox?

Also, I have noticed that the website switched back and forth between 2 designs yesterday. Does the website look like this to you right now?
![image](https://user-images.githubusercontent.com/19592990/40842621-153344d2-6574-1

[2018-06-01 13:28] SuperGeniusZeb commented on #130
[code]
The `div` test also fails if there is nothing in the editor.

I just tested in Chromium, and the tests pass when using that browser. (However, there are still duplicate `div` tests.) Can you reproduce the issue in Firefox?

Also, I have noticed that the website switched back and forth between 2 designs yesterday. Does the website look like this to you right now?
![image](https://user-images

[2018-06-01 14:32] SuperGeniusZeb opened #134 ""Applied Accessibility - Improve Chart Accessibility with the figure Element" cannot be completed in Firefox due to issue with <div> tests"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/improve-chart-accessibility-with-the-figure-element

This lesson cannot be completed in Firefox because one of the tests ("Your code should not have any `div` tags.") always fails, no matter what the content of the editor is. This issue does not occur in Chromium.

Related:
- #127
- #128
- #129
- #130
- #136

[2018-06-01 15:08] tchaffee commented on #115
@Bouncey It's still a problem. Aside from the layout differences, the only difference I noted is that the "Sign In" button on learn.freecodecamp.org looks like it is loading for a minute. But then it still shows "Sign In". It seems like it's not detecting I'm signed in. When I click on the "Sign In" button, I get a page that says "Welcome Todd Chaffee", showing I'm already signed in. I'm available

[2018-06-01 15:24] SuperGeniusZeb opened #136 ""Applied Accessibility - Wrap Radio Buttons in a fieldset Element for Better Accessibility" cannot be completed in Firefox due to issue with <div> tests"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/wrap-radio-buttons-in-a-fieldset-element-for-better-accessibility

This lesson cannot be completed in Firefox because one of the tests ("Your code should not have any `div` tags.") always fails, no matter what the content of the editor is. This issue does not occur in Chromium.

Related:
- #127
- #128
- #129
- #130
- #134

[2018-06-01 15:52] SuperGeniusZeb opened #137 ""Applied Accessibility - Make Elements Only Visible to a Screen Reader by Using Custom CSS" has invalid HTML in its instructions"
https://learn.freecodecamp.org/responsive-web-design/applied-accessibility/make-elements-only-visible-to-a-screen-reader-by-using-custom-css

The instructions of this lesson include invalid HTML: there are `<hr>`, `<li>`, and `<ul>` tags nested in `<p>` tags. Paragraph elements only allow phrasing content to be nested in them, but `<hr>`, `<li>`, and `<ul>` tags are all flow content.

[code]

Also

[2018-06-01 20:49] SuperGeniusZeb opened #138 ""CSS Flexbox - Align Elements Using the justify-content Property" should mention "space-evenly""
https://learn.freecodecamp.org/responsive-web-design/css-flexbox/align-elements-using-the-justify-content-property

This lesson/challenge mentions most of the popular `justify-content` values except `space-evenly`. This one is very useful, and I think it should be mentioned, with a note that it is not properly supported in all major browsers (specifically Microsoft Edge and of course IE11) yet.

N

[2018-06-02 03:05] dverdin83 opened #139 "Applied Accessibility - Improve Accessibility of Audio Content with the audio Element If you give audio element an id property test suite says audio doesn't have a closing tag"
It is valid HTML to give audio an id property. It is even shown in the example On the challenge. If you give the audio attribute an id it fails the test suite saying that audio doesn't have a closing anchor.

[2018-06-02 13:18] pcatana opened #140 "Blank white screen after clicking curriculum"
Was doing some random exercise on learn.freecodecamp and wanted to check my curriculum.
When I click on it, i get an empty screen. The only way to see the curriculum I have is to refresh the page once again.

Device: Windows 10 April 2018 update
Browser: Chrome V. 66

![image](https://user-images.githubusercontent.com/19393057/40874986-346a38f6-6678-11e8-9603-575ac58fb484.png)
I get this issue rig

[2018-06-02 14:37] tchaffee commented on #140
I can confirm I've seen this happen to me too. Occasional totally blank screen.

[2018-06-03 09:48] Bouncey commented on #140
I think I have the steps to reproduce, at least in production.

1. Complete a challenge you haven't before
1. Run tests and pass
1. Submit and go to next challenge (modal button)
1. Click Curriculum in the nav bar

For some reason this doesn't happen with already completed challenges.

[2018-06-03 10:36] Bouncey commented on #93
Service worker has been removed :+1:

[2018-06-03 10:36] #93 closed

[2018-06-03 19:30] #140 closed

[2018-06-04 17:50] tchaffee opened #146 "Remove the @freecodecamp/curriculum npm dependency"
The @freecodecamp/curriculum npm dependency is at the wrong level and makes this package unnecessarily tied to that curriculum. It makes it difficult to use a different curriculum. A better approach would be to remove the dependency from this repo and leave this repo with just the curriculum neutral source code.

Another repo (freeCodeCamp/learnFreeCodeCamp?) could then pull both this repo and the

[2018-06-05 01:36] scissorsneedfoodtoo commented on #139
@dverdin83, thank you for pointing this out. Your issue was addressed recently over in the main freeCodeCamp repo in PR [17401](https://github.com/freeCodeCamp/freeCodeCamp/pull/17401). You shouldn't have this problem in the near future!

[2018-06-05 01:36] #139 closed

[2018-06-05 04:48] akkatracker commented on #115
I just wanted to confirm, that the login feature seems to be working pretty much flawlessly, so it's now just @tchaffee 's issue

[2018-06-06 08:47] Bouncey commented on #146
I don't understand the benefit in that approach?

Learn uses a custom plugin to pull challenges from the curriculum package. The learn platform was not designed to handle other types of curriculum packages?

[2018-06-06 11:49] raisedadead opened #152 "Weird extra drag line at extreme right of page"
@coolshaurya commented on [Wed Jun 06 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17458)

This weird extra drag line appears at the extreme right of  the page. It can be confused with the console drag line which changes the width of the console. When dragging this line , it fills the console with errors - <br>
![image](https://user-images.githubusercontent.com/32027323/41031171-a756c

[2018-06-06 11:54] raisedadead opened #153 "Firefox: Page content hidden behind top navbar, Scroll issues"
@numoonchld commented on [Wed Jun 06 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17455)

#### Describe your problem and - if possible - how to reproduce it

When progressing to a new challenge after completing the current one, when the new page loads, the title of the challenge and some of the content at the top of the page gets hidden behind the green navbar.

This is counter UI-flo

[2018-06-06 11:59] raisedadead opened #154 "Feature request: Save progress when tests pass, not when navigating to next challenge"
@forkerino commented on [Tue Jun 05 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17447)

#### Describe your problem and - if possible - how to reproduce it
I noticed some new exercises in sections for which I already solved most. Through the curriculum I opened one and did the exercise. When tests pass and I don't do ctrl-enter to go to the next or click on the green button, the exerc

[2018-06-06 12:01] raisedadead opened #155 "freecodecamp using googleapis CDN which is blocked in China"
@naibaben commented on [Tue Jun 05 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17442)

#### Describe your problem and - if possible - how to reproduce it

Google Jquery is not accessible for China
https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Google

[2018-06-06 12:30] raisedadead opened #156 "Not enough padding on the curriculum page (mobile)"
@ayoisaiah commented on [Wed Jun 06 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17457)

[The curriculum page](https://learn.freecodecamp.org/) does not have enough on mobile browsers.

![](https://i.imgur.com/cmicise.png)

And I think the list of challenges should be centered with enough padding between the text and the edges of the screen

![](https://i.imgur.com/54vOccg.png)

[2018-06-06 12:31] raisedadead commented on #155
We should switch to this for the jQuery CDN or alternatively bundle it.

[code]

[2018-06-06 19:26] jamesjpk123 opened #158 "My account using my email is different from when I use my GitHub (same email on both accounts)"
I usually login using GitHub. When I log in it tells me to use my email in the future to login. When I login using my email, I go to a completely different account, that has none of my progress!

[2018-06-06 20:34] jamesjpk123 commented on #158
I deleted the account and it started working.

[2018-06-06 20:34] #158 closed

[2018-06-07 00:02] tchaffee commented on #115
I just tested again and I still have the same problem. Both with the login weirdness and the map not updating.

[2018-06-07 03:35] moT01 commented on #66
I think this issue affects the javascript challenges as well...
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/concatenating-strings-with-plus-operator
this challenge wants `var myStr = "This is the start. " + "This is the end.";` as a solution - but if you remove the last quote - the test button does nothing

[2018-06-07 09:54] raisedadead opened #159 "Javascript displayed in HTML output frame when editing HTML"
@camachado commented on [Thu Jun 07 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17476)

#### Describe your problem and - if possible - how to reproduce it
While editing HTML in the code edit frame, Javascript is displayed in the HTML output frame

#### Add a Link to the page with the problem

#### Tell us about your browser and operating system

* Browser Name: Chrome
* Browser Versi

[2018-06-07 11:42] nikrb commented on #159
@raisedadead is this a duplicate of #66 ?

[2018-06-07 19:21] QuincyLarson opened #161 "HTML changes to improve the way lesson text looks"
We can make the challenge instructions look a lot better with some minor CSS changes.

Before:

![basic_html_and_html5_-_uncomment_html___learn_freecodecamp](https://user-images.githubusercontent.com/985197/41121451-0941c060-6a5e-11e8-9b6f-af94d9de38c5.png)

After:

![basic_html_and_html5_-_uncomment_html___learn_freecodecamp](https://user-images.githubusercontent.com/985197/41121346-ba7968c0-6a5d

[2018-06-07 22:11] #161 closed

[2018-06-08 20:11] SuperGeniusZeb opened #165 "Comments parsed as actual code by challenge tests"
The tests on challenges parse comments as if they were actual code.

Take this challenge for example:

https://learn.freecodecamp.org/responsive-web-design/css-grid/create-a-column-gap-using-grid-column-gap

Using the following code, I can pass the test (which checks for `grid-column-gap` to be set to `20px`), even though `grid-column-gap: 20px` is in a comment.

[code]

This was also an issue on

[2018-06-12 14:56] raisedadead opened #171 "Open curriculum to current challenge"
@moT01 commented on [Tue Jun 12 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17557)

#### Describe your problem and - if possible - how to reproduce it
When you open the curriculum in a new session it opens like this...

<img width="494" alt="screen shot 2018-06-12 at 9 29 32 am" src="https://user-images.githubusercontent.com/20648924/41296785-4fb71ffe-6e23-11e8-8fe9-bee2b8e5cfef.png"

[2018-06-13 09:03] thefifthisa opened #172 "Indent sample code in lesson description"
#### Describe your problem and - if possible - how to reproduce it
Minor thing, but I think it would improve readability if the sample code below was properly indented like in other lesson descriptions.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/es6/prevent-object-mutation

#### If possible, add a screenshot here
![es6_pre

[2018-06-13 20:13] Nirajn2311 commented on #172
I’ll see what I can do about it.

[2018-06-14 10:21] coolshaurya commented on #165
This happens because you need to use `/* YOUR COMMENT HERE */` syntax when adding CSS comments. CSS does not have the `// COMMENT HERE` syntax.

[2018-06-14 12:11] SuperGeniusZeb commented on #165
@coolshaurya Thanks for pointing that out. I forgot about that. It looks like there is no problem after all, so I will now close this issue.

[2018-06-14 12:11] #165 closed

[2018-06-14 17:33] QuincyLarson commented on #146
@Bouncey I agree with @tchaffee's reasoning here. If someone hypothetically wanted to plug in their own curriculum, that should be an option. This said, I don't agree with the need for yet another repo, as @tchaffee is proposing. There must be a more graceful way.

Until we can come up with a better way, I think people forking Learn could just swap out the package with their own npm module. So bar

[2018-06-14 17:33] #146 closed

[2018-06-14 18:17] QuincyLarson opened #177 "Clicking freeCodeCamp logo should always take you to www.freecodecamp.org"
Even when on learn.freecodecamp.org, clicking the freeCodeCamp logo should take you to www.freecodecamp.org.

![welcome_to_learn_freecodecamp_](https://user-images.githubusercontent.com/985197/41430335-50db2ade-6fd5-11e8-91b3-1f6b9cf70e60.png)

[2018-06-14 19:14] Nirajn2311 commented on #177
This issue is closed in #174

[2018-06-14 20:42] #177 closed

[2018-06-14 22:01] tchaffee commented on #146
Fine to close this for now. I'll take a closer look at this again when we have stabilized the contribution process and the repo structures.

[2018-06-15 01:26] matthew-t-smith opened #178 "Feature Request: Progress Info in Super/Blocks' Titles"
####Summary

I would like to tackle this one myself, but essentially the issue is that you do not know which blocks or superblocks you have completed without expanding the trees out completely in your mapUi. Especially with the changes to the certificate programs and the addition of challenges, it becomes tedious to go back through and find out where you now lack challenges for completion.

####Fe

[2018-06-15 05:41] #131 closed

[2018-06-15 10:16] #156 closed

[2018-06-15 10:38] Bouncey commented on #159
Closing as duplicate, thanks @camachado for reporting and @nikrb for keeping us sane.

[2018-06-15 10:38] #159 closed

[2018-06-15 10:48] Bouncey commented on #125
@thomaskuntzz Thanks for bringing this up. The styling is something we have talked about, but it's not a quick fix. The majority of the organisation is using bootstrap v3, the react apps are tied to bootstrap v3 through a component library we are using, `react-bootstrap`. `react-bootstrap` are working towards rolling out a v4 version of their library, but who knows how long that is going to take.

[2018-06-15 10:50] Bouncey commented on #36
Oh ok, I didn't know it required webpack v4, thanks for investigating @tchaffee.

Deferring until we hit gatsby v2

[2018-06-15 10:52] Nirajn2311 commented on #172
There is a mistake in the code of FCC's curriculum node_module

[2018-06-15 10:57] Bouncey commented on #58
We could change the example to use a `_blank`. Ideally, we don't want to take users away from their lesson. I don't think there will be many queries over the `target` attribute.

Notes to contributors, this should be fixed in the freecodecamp/curriculum repository, the code is not held in learn.

[2018-06-15 11:03] Bouncey commented on #67
I don't think changing the hot keys between challenges is a good idea in terms of UX.

As we are working with a form, we could add an `onKeyDown` prop to listen for `Ctrl || Cmd + Enter` which then calls `this.handleSubmit` ( this is from the top of my head, implementation would be different )

[2018-06-15 11:04] Bouncey commented on #105
@raisedadead is working towards a solution for local auth.

[2018-06-15 11:05] Bouncey commented on #115
@tchaffee are you able to join on a google hangouts with me and we can talk about this.

[2018-06-15 11:13] #121 closed

[2018-06-15 11:13] Bouncey commented on #121
Issue moved to [freeCodeCamp/curriculum #14](https://github.com/freeCodeCamp/curriculum/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-15 11:20] Bouncey commented on #134
I cannot reproduce on firefox

[2018-06-15 11:22] Bouncey commented on #136
I cannot reproduce in firefox

[2018-06-15 11:23] #137 closed

[2018-06-15 11:23] Bouncey commented on #137
Issue moved to [freeCodeCamp/curriculum #15](https://github.com/freeCodeCamp/curriculum/issues/15) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-15 11:30] Bouncey commented on #138
`space-evenly` has poor support across the board [MDN Browser Compatibility](https://developer.mozilla.org/en-US/docs/Web/CSS/justify-content#Browser_compatibility).

I think there is a risk of confusing campers if they try it out in IE/Edge and it doesn't work as expected. I don't think this would be a required change right now.

[2018-06-15 11:31] Bouncey commented on #152
@scissorsneedfoodtoo, any ideas?

[2018-06-15 11:34] Bouncey commented on #155
CDN please, not bundle. The bundle is big enough already

[2018-06-15 11:36] Bouncey commented on #172
Issue moved to [freeCodeCamp/curriculum #16](https://github.com/freeCodeCamp/curriculum/issues/16) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-15 11:36] #172 closed

[2018-06-15 11:38] Bouncey commented on #178
@matthew-t-smith Thanks for taking this up yourself.

Let me know if there is anything I can help you with

[2018-06-15 11:39] Bouncey commented on #123
Issue moved to [freeCodeCamp/curriculum #17](https://github.com/freeCodeCamp/curriculum/issues/17) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-15 11:39] #123 closed

[2018-06-15 12:20] beaucarnes commented on #58
I agree with both of you now. I noticed that `target="_blank"` is introduced in the previous lesson so hopefully people will understand when it is used in this lesson.

[2018-06-15 12:33] #58 closed

[2018-06-15 12:33] Bouncey commented on #58
Issue moved to [freeCodeCamp/curriculum #18](https://github.com/freeCodeCamp/curriculum/issues/18) via [**ZenHub**](https://www.zenhub.com/)

[2018-06-15 18:29] joops75 commented on #67
@Bouncey I've submitted a PR for this.

[2018-06-15 18:55] tchaffee commented on #115
@Bouncey I'm on a business trip for the next week. I can try to find some time and let you know but I can't guarantee it.

[2018-06-15 20:07] huyenltnguyen commented on #152
@Bouncey This splitter is the one between the editors and the preview pane. Because we don't conditionally render it, it's still there and gets pushed to the right when the preview pane is null.
I will submit a PR shortly.

https://github.com/freeCodeCamp/learn/blob/03c7a76fb7e40ec4ad6f6a1eea9fe4af2fbc719c/src/templates/Challenges/classic/Show.js#L229-L237

[2018-06-16 01:55] scissorsneedfoodtoo commented on #152
@huyenltnguyen, thank you for taking this on! I think that's exactly what's going on. Let us know if you run into any problems and I'll be happy to QA your PR when it's ready.

[2018-06-17 02:12] SuperGeniusZeb commented on #134
I should have clarified, but I was using Firefox Nightly. I recently switched to Firefox Beta, and the issue is still occurring there. I am using Antergos Linux.

I tried disabling various Firefox add-ons, and it turns out that Plasma Integration is the add-on causing the issue:

https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/

Disabling the add-on makes the `<div>` tests immedi

[2018-06-17 02:12] SuperGeniusZeb commented on #136
I should have clarified, but I was using Firefox Nightly. I recently switched to Firefox Beta, and the issue is still occurring there. I am using Antergos Linux.

I tried disabling various Firefox add-ons, and it turns out that Plasma Integration is the add-on causing the issue:

https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/

Disabling the add-on makes the `<div>` tests immedi

[2018-06-17 02:14] SuperGeniusZeb commented on #127
I should have clarified, but I was using Firefox Nightly. I recently switched to Firefox Beta, and the issue is still occurring there. I am using Antergos Linux.

I tried disabling various Firefox add-ons, and it turns out that Plasma Integration is the add-on causing the issue:

https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/

Disabling the add-on makes the `<div>` tests immedi

[2018-06-17 02:14] SuperGeniusZeb commented on #129
I should have clarified, but I was using Firefox Nightly. I recently switched to Firefox Beta, and the issue is still occurring there. I am using Antergos Linux.

I tried disabling various Firefox add-ons, and it turns out that Plasma Integration is the add-on causing the issue:

https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/

Disabling the add-on makes the `<div>` tests immedi

[2018-06-17 02:14] SuperGeniusZeb commented on #130
I should have clarified, but I was using Firefox Nightly. I recently switched to Firefox Beta, and the issue is still occurring there. I am using Antergos Linux.

I tried disabling various Firefox add-ons, and it turns out that Plasma Integration is the add-on causing the issue:

https://addons.mozilla.org/en-US/firefox/addon/plasma-integration/

Disabling the add-on makes the `<div>` tests immedi

[2018-06-17 02:16] SuperGeniusZeb commented on #138
Okay, fair enough. Closing this issue.

[2018-06-17 02:16] #138 closed

[2018-06-17 10:55] Nirajn2311 commented on #171
You mean to say that it should automatically open the blocks of your current topic and scroll to your current challenge.

[2018-06-18 12:52] Bouncey opened #184 "Feature Request: Night Mode"
It's about time we had a night mode on this thing.

There is a prop on the user object that holds the current users theme selection. That prop is `theme`.

`theme` is a string that can be either `'default'` or `'night'`.

## User Stories
- The learn UI will reflect my theme choice.
- A selection of `default` will give me the current theme on `learn`
- A selection of `night` will give me a night mo

[2018-06-18 13:12] renojvarghese commented on #184
I'd like to take this one.

[2018-06-18 13:30] Bouncey commented on #184
Awesome! Thanks @renojvarghese

[2018-06-18 15:01] #152 closed

[2018-06-19 09:31] Bouncey commented on #115
@raisedadead could this be related to the stale cookie thing we found yesterday?

[2018-06-19 12:49] tchaffee commented on #115
@Bouncey can you try to give me some times that are good for you and I can try to find some time in the next few days?

[2018-06-19 12:59] raisedadead commented on #115
Possibly related freeCodeCamp/freeCodeCamp#17565

[2018-06-19 14:29] thomaskuntzz commented on #125
Okay, thanks for the answer! Is there any issue where the topic of a component library is being discussed?

[2018-06-19 21:54] renojvarghese commented on #184
Hey. I have a couple questions to complete this feature.

1. I found this file: https://github.com/freeCodeCamp/learn/blob/master/src/html.js It takes in props for bodyAttributes. I can add a night class to the body. Where is this component rendered? I couldn't find a reference to it.
2. How can I access the user object? I believe it would be in the redux store.

[2018-06-20 08:23] thatnini opened #185 "Mathjax is being displayed in challenges when there is no need"
[Mathjax](https://github.com/freeCodeCamp/learn/pull/150) was added to the site recently, but this appears to have a side effect of displaying mathematical symbols when there shouldn't be - just because a `$` is being used - and the text displayed has now become quite confusing!

See for example
[https://github.com/freeCodeCamp/freeCodeCamp/#17647](https://github.com/freeCodeCamp/freeCodeCamp/issu

[2018-06-20 09:41] Bouncey opened #187 "Reimplement MathJax"
MathJax has been (soon to be) removed  in #186 because it was formatting challenge descriptions with no maths formula, making new concepts like SASS and RegEx nearly impossible to grasp because syntax was missing in the instructions.

See #185 for details

@scissorsneedfoodtoo is there a way to only implement MathJax for maths formula?

[2018-06-20 09:44] johnkennedy9147 commented on #185
@Bouncey @raisedadead
Mathjax is picking up anything where there is text bounded by dollar signs.
eg
in file:  `curriculum/challenges/02-javascript-algorithms-and-data-structures/es6.json`

this template literal
`Hello, my name is ${person.name}!<br>I am ${person.age} years old.`

becomes:
![image](https://user-images.githubusercontent.com/26827682/41650003-e76681ee-7474-11e8-83a7-57be70ac54b3.png

[2018-06-20 09:48] #185 closed

[2018-06-20 09:57] Bouncey commented on #185
Thanks @johnkennedy9147, I have pushed changes to remove MathJax for now and opened an issue to reimplement it later. The build should only take another 15 minutes and your issue should be fixed. :+1:

[2018-06-20 10:43] johnkennedy9147 commented on #187
@Bouncey
The inline config on line 44 of src/templates/Challenges/components/Side-Panel.js seems to be the issue:
tex2jax: { inlineMath: [['$', '$'], ['\\(', '\\)']] }

I suggest we select alternate delimiters and amend the inline config and the rosetta code challenge json as necessary.

documentation here: `https://docs.mathjax.org/en/latest/options/preprocessors/tex2jax.html#configure-tex2jax`

[2018-06-20 10:59] Bouncey commented on #67
Closed via #181

[2018-06-20 10:59] #67 closed

[2018-06-20 11:51] scissorsneedfoodtoo commented on #187
@Bouncey, dang, I'm sorry about that. Didn't think to check if SASS and other things would be affected.

@johnkennedy9147 is exactly right. I think for now it's better to remove that line and use the default config, which should look for `$$...$$` delimiters rather than single $'s.

[2018-06-20 12:57] raisedadead commented on #185
/cc @scissorsneedfoodtoo

[2018-06-20 13:29] scissorsneedfoodtoo commented on #185
@thatnini, thank you for bringing this to our attention. I was the one who implemented MathJax recently to render the math functions in the Interview Prep section, but didn't think to check the SASS and other sections to see how they were affected. I'm very sorry for the inconvenience that it's caused!

I'll be working on a fix using @johnkennedy9147's suggestions, and will be sure to make sure th

[2018-06-20 14:22] Bouncey commented on #184
@renojvarghese `html.js` is used by `gatsby`, we do not reference it directly.

instead of attaching a class to the body, you could add a class to the [`.app-wrapper`](https://github.com/freeCodeCamp/learn/blob/069f551ffb9927886743412bfffd5b2870d350a0/src/layouts/index.js#L94)

`.app-warpper` is where we render everything in learn.

[2018-06-21 00:03] raisedadead opened #189 "Console not displaying return values"
@JamesStaffordCoyte commented on [Fri Jun 01 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17356)

#### Describe your problem and - if possible - how to reproduce it
The problem is with all algorithm problems. The test runs against all the test values but the console does not return the actual value you ask it to return. I like to test certain return values either by returning them or

[2018-06-21 00:15] raisedadead commented on #136
Hi @SuperGeniusZeb

Unfortunately we can't support any browser which are not in the standard set. That is if they are not a latest Stable variant, we would not be able to help much.

Same goes for supporting add-ons, plugins or extensions that are beyond the scope and control of this project.

You are more than welcome to make a pull-request though, if you find a fix for the said browsers.

[2018-06-21 00:15] #136 closed

[2018-06-21 00:15] raisedadead commented on #127
See https://github.com/freeCodeCamp/learn/issues/136#issuecomment-398936869

[2018-06-21 00:15] #127 closed

[2018-06-21 00:16] raisedadead commented on #128
https://github.com/freeCodeCamp/learn/issues/136#issuecomment-398936869

[2018-06-21 00:16] #128 closed

[2018-06-21 00:16] raisedadead commented on #129
https://github.com/freeCodeCamp/learn/issues/136#issuecomment-398936869

[2018-06-21 00:16] #129 closed

[2018-06-21 00:16] raisedadead commented on #130
https://github.com/freeCodeCamp/learn/issues/136#issuecomment-398936869

[2018-06-21 00:16] #130 closed

[2018-06-21 00:16] raisedadead commented on #134
https://github.com/freeCodeCamp/learn/issues/136#issuecomment-398936869

[2018-06-21 00:16] #134 closed

[2018-06-21 00:49] renojvarghese commented on #184
The background color doesn't extend to the bottom of the page when `.app-wrapper` has the `.night` class.

Here is a screenshot of `.app-wrapper` with `.night`
<img width="1207" alt="screen shot 2018-06-20 at 8 46 39 pm" src="https://user-images.githubusercontent.com/24216993/41691887-1a4b2ea6-74cb-11e8-93b0-c2c8984a0762.png">

Here is a screenshot of body with `.night`:
<img width="1215" alt="scr

[2018-06-21 03:18] Bouncey commented on #184
You could look in to why `.app-wrapper` is not at 100% height, if that can be fixed without affecting other views then that is great.

Re the green, feel free to use the same colour the rest of the map text is in, looks pretty readable to me.

[2018-06-22 12:19] Bouncey opened #192 "Feature Request: Autofocus editor when a new challenge is rendered"
@w96k commented on [Fri Jun 22 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17688)

#### Describe your problem and - if possible - how to reproduce it
I use mostly keyboard and its quite annoying to focus on text area after completing each task. After each task, I need to grab a mouse :(

#### Add a Link to the page with the problem
Any task

#### Tell us about your browser and operat

[2018-06-22 12:27] Bouncey commented on #192
@w96k would a hot key work for you?

I think we had `e` before.

[2018-06-22 12:41] w96k commented on #192
@Bouncey Yeah looks like "e" works, but I didn't know about that hotkey. I think it's better to autofocus anyway like Google does. FCC focuses on completing tasks, not searching. Thanks for the reply.

[2018-06-22 12:51] Bouncey commented on #192
Oh, now i understand what you mean. Issue title changed to reflect the request

[2018-06-22 18:10] QuincyLarson commented on #184
@renojvarghese Thanks for helping with the night mode on Learn. People ask me about this every day, and I'm thrilled we're so close to getting it live. How is everything going with this? Is there anything I can do to help?

[2018-06-22 20:21] renojvarghese commented on #184
Yea. Happy to help. So far, I have all the styles in, but I can't sign in to test if if night mode is turned on by the user's settings. I tried to make an account on FCC locally, but I run into an error. I made a post in the contributor Gitter, and it seems I am blocked by this issue: https://github.com/freeCodeCamp/freeCodeCamp/issues/17382

Is there a way to see a mock user object or use another

[2018-06-23 03:18] Bigj2987 opened #193 "Page not loading"
Im not sure why,but everytime I try to access any sort of assignment/challenge "Comment your Code in Javascript" for example the only thing that loads is a whitepage. I tried switching browsers to Safari and all I get is "Safari can't open the page" I feel kind of stupid because,I actually skipped work(I seldomly have days off) today to completely focus on coding today.
I use google Chrome as my m

[2018-06-23 04:15] scissorsneedfoodtoo commented on #193
@Bigj2987, so sorry to hear about your issue. I'm not in front of my laptop at the moment, but the site seems to work fine on my phone, including the challenge you mentioned.

Here's the direct link for reference: https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/basic-javascript/comment-your-javascript-code

Would you happen to have any ad blockers or similar extensions ins

[2018-06-23 04:44] Bigj2987 commented on #193
I have disabled all extensions on my google chrome browser,and I get the same result a blank white page. I was using this website actively a month ago,and it was working fine then.

[2018-06-23 05:40] huyenltnguyen commented on #193
@Bigj2987 Could you check the browser console if there is any error? Also, I notice that you are not using the latest version of Chrome, is it okay if you update it? There are some new challenges in the curriculum that require new technology (React stuff), so maybe your Chrome version doesn't support it.

[2018-06-23 16:29] Flarp commented on #187
What about [Katex](https://khan.github.io/KaTeX/)?

[2018-06-24 11:06] Bouncey commented on #193
@Bigj2987 It seems you are on a super old version of chrome, try updating and see if it helps.

![Current stable versions of Chrome across OS's](https://user-images.githubusercontent.com/18572518/41818430-02dba6f4-77a7-11e8-90b8-f15c1ff51ec9.png)

[2018-06-25 19:37] tchaffee commented on #115
@Bouncey I'm ready to look at this when you are available. Any time from 10am until about 9pm São Paulo, Brazil time is good for me, but if you can give me some times of when you'll be available I can make sure I'm here. I think you already have my Google Hangout contact info?

[2018-06-25 20:06] Bouncey commented on #115
@tchaffee 10am your time works for me. I will send an invite to your registered email address in the morning. @raisedadead would you be available?

[2018-06-27 02:29] tchaffee commented on #115
@Bouncey @raisedadead just to follow up on our call and get this documented - clearing cookies solved the problem. It was likely an outdated JWT token that the main domain was recognizing but the learn domain wasn't accepting.

I think we left this at @raisedadead doing some more research on how cookies work between the various domains before we do anything else?

[2018-06-27 05:54] raisedadead commented on #115
Closing in favor of freeCodeCamp/freeCodeCamp#17565

[2018-06-27 05:54] #115 closed

[2018-06-27 14:47] Jacob8765 commented on #125
I use mdbreact [https://mdbootstrap.com/react/](url) in all my react projects and it works perfectly.

[2018-06-28 13:16] Bouncey commented on #193
@Bigj2987 Are you still having issues?

[2018-06-28 19:09] ktajpuri commented on #192
I would like to work on this one.

[2018-06-28 19:46] QuincyLarson commented on #184
@renojvarghese If you have all the styles, could you go ahead and open a pull request? @raisedadead can QA locally and we can fix this sooner while we're still working on the fix for freeCodeCamp/freeCodeCamp#17382

Thanks for your help with this. People ask me several times a day for this feature!

[2018-06-29 00:38] renojvarghese commented on #184
@Bouncey  @QuincyLarson Pull request is in: https://github.com/freeCodeCamp/learn/pull/202

Here are a few screenshots of what I came up with:

<img width="1213" alt="screen shot 2018-06-28 at 8 31 01 pm" src="https://user-images.githubusercontent.com/24216993/42067202-08046d90-7b13-11e8-8bf8-b294cf3c752b.png">
<img width="1211" alt="screen shot 2018-06-28 at 8 34 41 pm" src="https://user-images.g

[2018-06-29 13:50] #192 closed

[2018-06-29 13:52] #184 closed

[2018-06-29 14:47] moT01 opened #203 "UI: Whitespace below map on dark mode"
There's a bunch of whitespace below the map on dark mode when all categories are collapsed
<img width="1202" alt="screen shot 2018-06-29 at 9 45 43 am" src="https://user-images.githubusercontent.com/20648924/42098706-4668110e-7b81-11e8-910e-301f804ebcbc.png">
perhaps set a min-height of 100vh

Firefox 60.0.1

[2018-06-29 15:32] johnkennedy9147 commented on #184
Couple of issues with night mode on Learn:

Cursor hard to see in editor. Black on dark grey.

No visual indication at all of selected text - in below screenshot I have selected `function minusSeven`
![image](https://user-images.githubusercontent.com/26827682/42100963-9b68e452-7bb9-11e8-9f28-48fae3be047f.png)

I think we should revert this if not able to fix really quickly.
@Bouncey @raisedadead @

[2018-06-29 15:35] Bouncey commented on #184
Hi @johnkennedy9147, could you raise another issue for it, it should be a quick css fix

[2018-06-29 15:45] johnkennedy9147 opened #204 "Night Mode Editor styling issues"
Couple of issues with night mode on Learn:

Cursor hard to see in editor. Black on dark grey.

No visual indication at all of selected text - in below screenshot I have selected function minusSeven
image

![image](https://user-images.githubusercontent.com/26827682/42100963-9b68e452-7bb9-11e8-9f28-48fae3be047f.png)

[2018-06-29 15:46] johnkennedy9147 commented on #184
see #204

[2018-06-29 16:22] raisedadead commented on #204
The theme is added programatically here:
https://github.com/freeCodeCamp/learn/blob/2d6beb7bceea7ad1b715e2a838577171c7f5e9c2/src/layouts/index.js#L99

But we should exclude the `.night` class from being extended/added programatically here:

https://github.com/freeCodeCamp/learn/blob/2d6beb7bceea7ad1b715e2a838577171c7f5e9c2/src/templates/Challenges/classic/Editor.js#L98

We should rather use `vs-da

[2018-06-29 16:24] raisedadead commented on #204
Update:

The only fix needs to be done is to add the `vs-dark` here when the theme is night

https://github.com/freeCodeCamp/learn/blob/2d6beb7bceea7ad1b715e2a838577171c7f5e9c2/src/templates/Challenges/classic/Editor.js#L105

[2018-06-29 17:51] ktajpuri commented on #153
Can I work on this one?

[2018-06-29 18:22] ktajpuri commented on #153
I have noticed that in firefox, after doing ctrl + enter , when the new challenge is loading the panel scrolls up a bit, due to which the title gets hidden. Investigating what is making this happen in firefox. Same behaviour doesn't happen in chrome.

[2018-06-29 18:58] raisedadead commented on #153
/cc @Bouncey for inputs.

[2018-06-29 19:35] ktajpuri commented on #153
@raisedadead  I tried to find the root cause but could not. Seems like some display:flux issue. If we make any flux related change in any of the components scrolling starts working. It can be any change!
I am having hard time with this one. I would suggest editing the title to more generic like, scroll issues with components in firefox.

[2018-06-29 21:53] #204 closed

[2018-06-30 09:19] huyenltnguyen opened #208 "'Get a Hint' button sends user to a wrong guide URL"
### Issue:
It happens to all challenges. Let's take this one as an example.

- Challenge link: https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/headline-with-the-h2-element
- Hint button sends to: https://guide.freecodecamp.org/certifications/responsive-web-design/basic-html-and-html5/headline-with-the-h2-element
- The correct link is: https://guide.freecodecamp.org/certif

[2018-06-30 11:32] anku255 opened #209 "Upcoming Lessons unreadable in Night Mode"
**Screenshot**:

![image](https://user-images.githubusercontent.com/22813027/42124807-0d346a98-7c87-11e8-81a3-2be7ae6eeaa5.png)

**Link to the Page(s)**:

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5
https://learn.freecodecamp.org/responsive-web-design/basic-css

This bug is present in every section.

**Browser Information:**
- Browser Name: Chrome
- Browser Version: 6

[2018-06-30 11:46] anku255 commented on #209
Upon some inspection, I found two quick ways of fixing this.

1. Remove the follow CSS selector
[code]

See screenshot below:
![image](https://user-images.githubusercontent.com/22813027/42124891-42dec420-7c89-11e8-9761-fafa88da1e3a.png)

2. Add a  new CSS selector

[code]

See screenshot below:
![image](https://user-images.githubusercontent.com/22813027/42124896-51d76c48-7c89-11e8-9965-97250c7721f

[2018-06-30 11:48] raisedadead commented on #209
Yes please make a PR.

[2018-06-30 11:49] anku255 commented on #209
@raisedadead Great! I am going with the option 2 as I think that's better.

[2018-06-30 11:49] raisedadead commented on #208
The `certificates` block is to be renamed to `certification` over at guide repo. Is that not correct @Bouncey

[2018-06-30 13:15] anku255 commented on #209
@raisedadead I have created a PR #210. Please take a look.

[2018-06-30 13:48] raisedadead opened #211 "Unreadable code blocks in night mode"
![image](https://user-images.githubusercontent.com/1884376/42125767-5938f194-7c9a-11e8-9838-9d7025ab3f01.png)

https://learn.freecodecamp.org/responsive-web-design/basic-html-and-html5/

[2018-06-30 15:44] eng-sarah commented on #153
same here
I can not scroll page to complete challenge   although ctrl+enter  complete challanege

Tell us about your browser and operating system

    Browser Name: Firefox
    Browser Version: 60.0.2 (64-bit)
    Operating System: ubuntu
on chrome it is working fine

[2018-06-30 19:58] gforce2k5 commented on #211
I can think of 2 approaches to this issue, 1 removing the backgrounds from the rows or changing the background of the code block

[2018-06-30 20:29] renojvarghese commented on #211
I think option two is better. Fits the theme a bit better. The biggest problem was the text shadow that made the content blurry

[2018-06-30 20:49] renojvarghese commented on #211
Sorry @gforce2k5 I think I beat you to it. I was working on it this morning, and I forgot to claim it.

[2018-06-30 20:58] gforce2k5 commented on #211
@renojvarghese It's ok

[2018-07-01 01:58] Jolt2bolt commented on #153
I realize when I use the zoom of firefox below 100% the page can seen completely. but the scroll bar nearly disapear. Maybe did the FFC page updated a component that have a bug related to firefox?

[2018-07-01 10:06] nikrb commented on #66
Looks like the body is built [here](https://github.com/freeCodeCamp/learn/blob/1dca9b8e7ef25ace02cece080f4cda713b644a86/src/templates/Challenges/rechallenge/builders.js#L79).
It seems only double quotes cause the bleed over to Preview pane, as the contents are built by string concatenation.
We could put a check for matched quotes in here, but Preview pane will look ugly if we leave out the body, o

[2018-07-01 10:19] #209 closed

[2018-07-01 22:16] ValeraS opened #216 "When tests are running, SASS hasn't been compiled yet"
Issue:
freeCodeCamp/freeCodeCamp#17762

Possible solution:
if in function runTests from src/client/frame-runner.js increase delay (on line 88), then tests pass.

[2018-07-02 08:16] Bouncey commented on #216
Solid find @ValeraS, care to make a PR?

[2018-07-02 08:18] #203 closed

[2018-07-02 08:19] #211 closed

[2018-07-02 12:08] ValeraS commented on #216
@Bouncey I am not sure about that solution. Can we know when preview is completed and then run tests?

[2018-07-04 00:35] scissorsneedfoodtoo commented on #28
I'm going to go ahead and close this issue since it's so unlikely that others will run into it. Also, I've since reinstalled my OS without encryption and this issue no longer affects me.

Just in case someone does have the same problem in the future, the workaround I used was to change these lines:

https://github.com/freeCodeCamp/learn/blob/2f3c21cd89c5863be779f0731533e2f0c5efeecd/gatsby-node.js#

[2018-07-04 00:35] #28 closed

[2018-07-04 12:03] huyenltnguyen commented on #208
Oh I see it now. The `Certifications` directory was already created in the Guide repo, and the articles have been gradually pushed to it. So only the block name needs to be changed and we're set. No need to modify anything in this repo.

Closing the issue.

[2018-07-04 17:43] tchaffee commented on #28
In case it helps someone, my workaround was to move the repo out of my home directory.

[2018-07-06 16:13] ojeytonwilliams commented on #189
Hey. I've been looking at this and I think I'm getting somewhere.

I've managed to tweak the code and now spits out something like this:
[code]
when there are two logs in the editor.  When there are no logs, you just get
[code]

Does that seem about right?

[2018-07-07 18:17] nikrb commented on #66
another possibility would be to throw an error on unbalanced quotes preventing the Preview pane update, similar to the babel transformer, "collapsing the pipeline" to quote bouncey's comment.
I have a patch ready but will wait to see how ValeraS's pr progresses.

[2018-07-07 18:55] ktajpuri commented on #189
I think it would make more sense to have the console output in a separate section. We can have the logic that the section will only be visible if some output is there in the console. Something like
[code]

[2018-07-08 06:17] coolshaurya opened #227 "Terrible JavaScript syntax highlighting"
Here's how JS syntax highlighting currently looks in freeCodeCamp -
![image](https://user-images.githubusercontent.com/32027323/42417161-17bab93a-82a0-11e8-8cc1-1ae13c17ba87.png)

The massive blobs of white text are clearly visible and this makes it very difficult to see the code clearly.

Here's how the same code looks in VSCode -
![image](https://user-images.githubusercontent.com/32027323/424171

[2018-07-09 19:04] tchaffee commented on #53
@Bouncey This was fixed with my PR #111 and can be closed.

[2018-07-09 19:07] tchaffee commented on #59
@Bouncey can this be closed? This really belongs on the curriculum repo and the PR was already closed.

[2018-07-09 19:09] tchaffee commented on #61
@Bouncey I think this should be closed and a new issue be opened on the curriculum repo?

[2018-07-09 19:13] tchaffee commented on #66
@nikrb Which PR is that?

@Bouncey can we remove the "help wanted" label? Looks like @nikrb has a patch ready and someone else is working on a PR?

[2018-07-09 19:14] tchaffee commented on #105
@raisedadead Is there anything I can do to help with this and move things along?

[2018-07-09 19:19] tchaffee commented on #125
@Bouncey @QuincyLarson I'll offer again to create a roadmap so we can refer people to that in the README and we don't get open issues like this. It's kind of a big mystery to outsiders what the future plans are and I think it would help all contributors to understand what the near term vision is.

[2018-07-09 19:23] tchaffee commented on #154
@raisedadead I would be happy to give this a try, but I might need some help from @Bouncey to understand where to look to even begin. Can you assign this to me if that's ok?

[2018-07-09 20:02] tchaffee commented on #189
@Bouncey since @ojeytonwilliams is working on this, could we assign him to the issue and remove the help wanted label?

[2018-07-09 20:48] ValeraS commented on #227
It can be made something like this:
![image](https://user-images.githubusercontent.com/10867286/42474789-509d1f90-83d1-11e8-81cf-9dc4ddd58681.png)

Is it better?

[2018-07-10 00:18] johnkennedy9147 commented on #227
Looks like we are using themes Visual Studio (vs) and Visual Studio dark (vs-dark) which have poor syntax highlighting in comparison to the default themes used on VSCode which are Dark+ and Light+

The monaco editor only has light, dark and high contrast themes by default, but I think it is possible to extend these built-in themes.

I am looking at how to implement this and will try and implement

[2018-07-10 07:45] nikrb commented on #66
@tchaffee not sure to which pr you refer.
ValeraS pr is linked just above my comment.
I haven't created a pr, just putting forward ideas, quincy commented on another [pr](https://github.com/freeCodeCamp/learn/pull/87) that we should discuss the fix in this issue to find the best solution.

[2018-07-10 18:29] Bouncey commented on #107
Closed via #191

[2018-07-10 18:29] #107 closed

[2018-07-10 22:48] johnkennedy9147 commented on #227
There is some scope for an improvement in the syntax highlighting, but implementing the full syntax highlighting seen in VSCode is not simple.

This is because the method used for theming is different. VSCode uses TextMate grammars which allows sophisticated tokenisation.
Monaco cannot use these (see image below of note on monaco repo) so is limited to the inbuilt js tokenisation unless we want to

[2018-07-11 08:00] w96k commented on #192
Good job :+1:

[2018-07-11 12:12] coolshaurya commented on #227
@ValeraS that would certainly improve the current situation although it is not a complete fix

[2018-07-11 12:47] raisedadead commented on #227
I have always liked the Dracula color schemes for syntax highlighting in particular for the dark themes, maybe its worth adding a custom theme. I am all in for adding a theme that is that is based off of it. That said it should have to be an extension on top off monaco and NOT a CSS only update.

[2018-07-11 22:40] tchaffee commented on #154
@raisedadead I'm blocked now because I can't authenticate in a test env. Any progress on #105? An idea on an ETA for that? I can also try to help you with that if you need a hand.

[2018-07-12 17:23] CharmedSatyr opened #234 "Grammar, spelling, spacing issues in HelmetJS intro"
**Describe the bug**
Various grammar/spelling/spacing issues in the second and third paragraphs of the HelmetJS introduction.

https://learn.freecodecamp.org/information-security-and-quality-assurance/information-security-with-helmetjs/

Specifically, corrections needed include:
1. Comma after the subordinate clause "After completing each challenge"
2. Capitalize Glitch in "public glitch"
3. Comma

[2018-07-13 04:56] coolshaurya commented on #227
The monarch tokenizer page on the monaco editor page should help - https://microsoft.github.io/monaco-editor/monarch.html

[2018-07-14 02:33] tchaffee commented on #187
@scissorsneedfoodtoo Are you working on this? Any progress?

[2018-07-14 03:13] scissorsneedfoodtoo commented on #187
@tchaffee, yes, I've been working on this slowly. Been playing around with both Katex like @Flarp suggested and MathJax, trying to see which is faster/better supported.

Using the `$$...$$` delimiters now and going through the challenges trying to make sure it doesn't break any other challenge descriptions.

[2018-07-15 00:53] chaitanyagiri opened #236 "404 error, page not found on react challenge."
In the Front End Libraries Certification: React Challenge there is a [challenge](https://learn.freecodecamp.org/front-end-libraries/react/introducing-inline-styles) named

in which there's a link to an [article](https://learn.freecodecamp.org/define-an-html-class-in-jsx)  and when I click in the link it redirects me to a 404 page. That means the page does not exist anymore.

[2018-07-15 02:08] wadleo commented on #236
I think that link was meant to take the user to this challenge instead

https://learn.freecodecamp.org/front-end-libraries/react/define-an-html-class-in-jsx/

@QuincyLarson can you attest to this, so I can send a patch?

[2018-07-15 05:32] chaitanyagiri opened #237 "Quote not visible clearly in 404 error page in Night Mode"
The quote displayed on the 404 error page is not visible properly in Night mode. Please refer to the screenshot attached below.
![screenshot from 2018-07-15 08-51-59](https://user-images.githubusercontent.com/26071627/42730862-718fcc42-881e-11e8-85d9-1dcf27baf84c.png)

[2018-07-15 08:16] wadleo commented on #237
![gnome-shell-screenshot-a8rvlz](https://user-images.githubusercontent.com/11006276/42731935-8bd700e8-880f-11e8-890c-55473497c9f4.png)

I think this may do here, I will look into it later today or @chaitanyagiri are you already working on this?

[2018-07-15 08:17] johnkennedy9147 commented on #236
@wadleo @chaitanyagiri The directory structure was changed so there are likely a number of stray links pointing to wrong locations. The link @wadleo supplied is the correct replacement.

[2018-07-15 08:18] wadleo commented on #236
Ok @johnkennedy9147, thanks for the confirmation. I will send a patch in some few hours, let me rush to church now.

[2018-07-15 15:59] tchaffee commented on #187
@scissorsneedfoodtoo That's good news. In terms of delimiters, is there any reason to not choose a delimiter so specific that it would be almost guaranteed to be unique? `$$inLineMathBegin\...$$inLineMathEnd\`?

[2018-07-15 16:21] scissorsneedfoodtoo commented on #187
@tchaffee, that's a good point. It's mostly just a matter of how much can be done quickly and easily. I could certainly change the delimiters to something like `$$inlineMath$$` and retest.

[2018-07-16 13:07] wadleo commented on #236
On research to fix this broken link, I found the problem in the curriculum repo, so I will send a patch there shortly.

[2018-07-16 14:20] wadleo commented on #236
Here is the link to the PR that fixes it on the curriculum repo https://github.com/freeCodeCamp/curriculum/issues/155

[2018-07-16 18:33] tchaffee commented on #154
I was able to get the auth0.com workaround working so I can move forward with this. I noticed the modal says "Submit and go to next challenge..." implying the solution is not submitted until the button is clicked, which is accurate. Should the button text be changed to just "Go to next challenge" now that we will be saving progress when the tests pass?

![selection_151](https://user-images.githubu

[2018-07-16 21:33] tchaffee commented on #154
I started looking into this, and the code is pretty complex. I'm pretty sure I need to learn at least a couple of things to understand it. I'm currently learning RxJS. @Bouncey is there anything else I should look at besides RxJS and Redux in order to understand the code related to both the ToolPanel and the Completion Modal?

The Completion Modal is where the user submits the challenge and goes t

[2018-07-17 11:47] thomaskuntzz commented on #125
@tchaffee Yep, a roadmap would definitely be worth it 👍

[2018-07-17 14:35] Bouncey commented on #236
Thanks @wadleo, closing as it is being tracked in the curriculum repo

[2018-07-17 14:35] #236 closed

[2018-07-17 14:36] #237 closed

[2018-07-17 14:40] #155 closed

[2018-07-17 18:46] tchaffee commented on #154
@raisedadead I'm starting to roughly understand what needs to be done to change the epics and redux actions to make this happen. And I'm starting to question if it's actually a good idea in terms of user experience.

The current UX is:

1. Code
1. Run tests and tests fail
1. Code some more
1. Run tests and tests pass.
1. Yeah! Modal appears.
1. User presses "Submit"
1. Solution is saved.
1. Route

[2018-07-17 19:24] tchaffee commented on #154
As a set of user stories it might go like this:

1. I should be able to enter or change code and run tests.
1. I should be able to see which tests pass and which fail. DONE.
1. I should be able to submit / save code that passes all the tests. DONE.
1. I should be able to see when my solution has been saved and when it has not been saved. NOT DONE.
1. I should be able to move to the next challenge

[2018-07-20 16:45] Flarp opened #242 "Hotloading curriculum during development"
Migration destination for https://github.com/freeCodeCamp/curriculum/issues/68

[2018-07-20 21:43] nathanhannig commented on #105
https://github.com/freeCodeCamp/freeCodeCamp/issues/17382

[2018-07-23 19:45] rzelnik opened #245 "Accept value 0 without measure unit"
In this lesson:
https://learn.freecodecamp.org/responsive-web-design/applied-visual-design/create-movement-using-css-animation
... I put 0 as a value in this code:
`@keyframes rainbow { 0% { ... left: 0; }`

It shows me this error message:

The @keyframes rule for 0% should use the left offset of 0px.
// tests completed

Value '0' should be accepted besides '0px', because zero value doesn't need a

[2018-07-24 13:05] tchaffee commented on #245
@rzelnik Thank you for reporting this issue. Could you please report the issue in the correct repo https://github.com/freeCodeCamp/curriculum/. It is related to issue https://github.com/freeCodeCamp/curriculum/issues/166.

Thank you!

[2018-07-24 13:05] #245 closed

[2018-07-25 22:44] im-ironclad commented on #171
@Nirajn2311 I believe that is what he means. When i made the PR for updating the styles on the curriculum map i noticed it was a bad UX for the map to always open the first tab as this issue states. I think it's worth refactoring the map to pull from the users last completed module if applicable.

[2018-07-27 17:54] raisedadead commented on #227
Hi @johnkennedy9147

Thanks for taking the time to investigate on these. I really like the progress so far. Buy honestly the best feedback can come from the users themselves, which we would get once this is out.

Also we would have to take a11y into account when choosing colors.

I would recommend if you could possible research on existing examples, then it would be great. For example I know codes

[2018-07-29 02:15] ravikishorethella commented on #234
@Thibaut @CharmedSatyr Can I work on this?

[2018-07-29 02:17] ravikishorethella commented on #234
one more fix - "unintentially"

[2018-07-29 05:42] ktajpuri commented on #153
@lallenfrancisl  I can confirm that both the issues are resolved now. Scrolling works fine and navigating challenge by ctrl + enter doesn't hide the top of challenge. Wondering what fixed it though.

[2018-07-29 05:43] ktajpuri commented on #153
@raisedadead  I think this issue can be closed. Please have a look.

[2018-07-29 08:50] ktajpuri commented on #171
Working on this one.

[2018-07-29 10:07] ktajpuri commented on #171
There are two issues here.
1. When you click on a challenge in the curriculum map, the API call to update currentChallengeId in database is made, but the fetch request is not made after success, so currentChallengeId in local state is not updated.
2. Scrolling logic.

[2018-07-30 08:57] ktajpuri opened #256 "Random quotes for 404 page flickers"
If you land to **404 not found page** in learn site,[ https://learn.freecodecamp.org/404]( https://learn.freecodecamp.org/404) , It will show the 404 image and a random quote. As soon as you start reading the quote it changes to another quote !
It appears due to some bug, page is showing one quote first, then randomly selecting another quote after 1 second. Bad user experience.
![ozklrhjojw](https

[2018-07-30 09:23] ktajpuri commented on #256
Looking at the compoent , https://github.com/freeCodeCamp/learn/blob/master/src/pages/404.js, I think the issue is that this is a functional stateless component, it gets rerendered on every state change of parent. First time when it loads, user state is not present, after the user state is set it  re renders and displays another random quote. We will have to make the 404 component as pure componen

[2018-07-31 14:52] beaucarnes opened #257 "Flash message hard to read in night mode."
Text in flash messages at the top of the window are very hard to read in night mode. The font should be made lighter.
![image](https://user-images.githubusercontent.com/1513130/43467402-9da9e194-94af-11e8-9e8e-5f8635fa32c5.png)

[2018-08-01 15:43] wadleo commented on #256
@ktajpuri are you sending a patch to fix it?

[2018-08-02 15:15] ktajpuri commented on #256
@wadleo  you can work on it if you want :) Already have an open PR for another issue.

[2018-08-02 20:23] raisedadead opened #259 "Improve the "ask for help" forum post autopopulation functionality"
@QuincyLarson commented on [Tue Jul 31 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/17955)

Currently when clicking the "ask for help" button on certain challenges, it doesn't always autopopulate the best category.

- [ ] For the React, Redux, and React & Redux challenges, posts gets marked as “Help” instead of “JavaScript”.
- [ ] The jQuery section challenges get marked as “HTML/CSS”

[2018-08-07 17:13] wadleo commented on #256
@ktajpuri @raisedadead  what if we could change the quote after a couple of seconds, say 5-10 seconds, what do you guys think? @QuincyLarson

[2018-08-07 19:38] raisedadead commented on #256
Since its just a 404 page. I think we do not need to update the code periodically.
That said please feel free to fix the flicker issue.

Thanks.

[2018-08-07 21:43] QuincyLarson commented on #256
@wadleo I agree - there's no need to update the quote. It can just show a single quote.

@ktajpuri Thanks for discovering this problem. Would you be interested in digging in and trying to fix it?

[2018-08-08 08:35] wadleo commented on #256
ok, I will send the fix shortly, thanks for the input.

[2018-08-10 05:59] coolshaurya commented on #227
I think that the color scheme should be taken from a popular theme like Dracula or Cobalt2 which are already great.

[2018-08-10 14:55] wadleo commented on #257
ok, let me look in to this @beaucarnes @raisedadead

[2018-08-12 15:16] ValeraS commented on #256
Problem not only in the component but in a static 404.html page. It is generated by Gatsby. If we land to 404 not found page, we get the first quote which always the same. After state change, the component is re-rendered and we get a random quote.

We need to do static 404.html without a quote and that a quote appears only on the client side.

[2018-08-15 16:00] wadleo commented on #256
Hi @ValeraS please if you can provide more details on how to achieve this with Gatsby, I will really appreciate that. I am new here and trying to get my feet wet, if you get what I mean, thanks.

[2018-08-15 17:52] ValeraS commented on #256
Hi @wadleo!

In brief: in the component, we set the initial state not to show a quote's block and then in componentDidMount() set the state to show the quote's block. In render(), we show the quote's block depending on the state.

componentDidMount() is invoked after a component is inserted into the DOM. The server environment has no DOM, the browser provides the DOM. So, componentDidMount() is in

[2018-08-15 22:09] johnkennedy9147 commented on #227
Unfortunately I won't be able to do any more on this for a while, probably into next year so I have removed my assignment and added help wanted label, anyone who feels able can pick this up.
I'll come back to it as a priority if it is still unresolved when I'm able to put more time in.
cc @raisedadead

[2018-08-16 06:29] coolshaurya commented on #227
It shouldn't be a problem if we copy CodeSandbox's configuration because its licence states -
[code]

And we can always credit CodeSandbox.

In fact, I think that we should copy all of [CodeSandbox's monaco config](https://github.com/CompuIves/codesandbox-client/tree/master/packages/app/src/app/components/CodeEditor/Monaco) ,which happens to be better than that of fCC[Giving proper credit].

[2018-08-16 16:54] pom421 opened #269 "Error in comment in a JS regex page"
Hello,

A small error on comment on this page in [JS Regex](https://learn.freecodecamp.org/javascript-algorithms-and-data-structures/regular-expressions/specify-exact-number-of-matches) :

[code]

I tried to make the PR myself, but I don't find where the source is (neither in https://github.com/freecodecamp/freecodecamp nor in https://github.com/freeCodeCamp/learn)

Thank you!

[2018-08-16 19:03] huyenltnguyen commented on #269
@pom421 The lessons are now in their own repo: https://github.com/freeCodeCamp/curriculum. You can make a PR there.

[2018-08-17 03:54] Nirajn2311 commented on #269
@pom421 the mistake is in the regex expression.

[2018-08-17 07:52] pom421 commented on #269
You're right. I hadn't see the sentence above the code.

It's `let multipleHA = /ha{3}h/;`

I will try to make a PR on it.

[2018-08-19 23:06] pom421 opened #270 ""Map is not a function" in a Rosetta Code problem"
Hello,

Maybe it's me and my frustration about the editor of FCC but the editor sends me an error and I don't know why.

It's for https://learn.freecodecamp.org/coding-interview-prep/rosetta-code/100-doors/.

When i put an answer with a `numDoors.map`, that says `numDoors.map is not a function`.
But when I just add a console.log (and don't hit the Run tests button), then I see that the code is run

[2018-08-20 07:47] ValeraS commented on #270
@pom421 numDoors is the number.

[2018-08-20 08:10] pom421 commented on #270
Are we supposed to invoke the function?

Because when I try

[code]

nothing happens...

[2018-08-20 08:17] ValeraS commented on #270
You can view log in the console from the Developer tools
![image](https://user-images.githubusercontent.com/10867286/44328550-833b7280-a46a-11e8-8a62-441ddc99b3f9.png)

[2018-08-20 09:07] pom421 commented on #270
Thanks @ValeraS! It's a really game changer to have a mean to roughly debug.

It's still confusing in FCC, that the console.log is sometimes displayed in the running test panels and sometimes it isn't. It's not very user friendly.

Why do we need the numDoors parameter? The exercice explains a problem with 100 doors, not a generic problem with more.  And there is no complete example of the call of

[2018-08-20 09:07] #270 closed

[2018-08-24 16:24] psyperl opened #272 ""Responsive Web Design Principles: Create a Media Query" test is not forgiving."
#### Describe your problem and - if possible - how to reproduce it
"Responsive Web Design Principles: Create a Media Query" test is not forgiving.

the test wouldn't pass
[code]

it would only pass
[code]

difference is an extra spaces inside the parenthesis.

#### Add a Link to the page with the problem
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-principles/create-a

[2018-08-24 16:48] psyperl commented on #272
this issue was originally posted to main freeCodeCamp repo, until i discovered that the learn repo is separated here, so i posted the issue here.
Funnily, i just discovered that the curriculum is on separated repo from learn lol..
so i am closing this one and posted there instead.

[2018-08-24 16:48] #272 closed

[2018-08-25 00:20] tchaffee opened #273 "Support for curriculum challenge translations"
The https://github.com/freeCodeCamp/curriculum/ repo has translations for many of the challenges. Will the learn platform eventually support translations? Is there already an idea what approach we will use to support this?

[2018-08-28 16:04] ojeytonwilliams opened #275 "Dasherize in learn"
Issue https://github.com/freeCodeCamp/freeCodeCamp/issues/18040 from the main repository also affects learn.

[2018-08-30 15:02] tchaffee commented on #273
@Bouncey Any feedback on this? I'm willing to work on it, but need to know if it's in the roadmap, and how to approach it.

[2018-09-01 16:37] jarikmarwede opened #281 "News page link not in navigation bar on learn.freecodecamp.org"
The link to the news page that has been added to the navigation bar on www.freecodecamp.org is not added to the navigation bar on [learn.freecodecamp.org](https://learn.freecodecamp.org).

![screenshot_2018-09-01 welcome to learn freecodecamp 1](https://user-images.githubusercontent.com/33765260/44947990-fbfce000-ae15-11e8-96e2-c34a3cae6c03.png)
![screenshot_2018-09-01 learn to code with free onli

[2018-09-02 10:15] Nirajn2311 commented on #281
I can take this up once someone has approved it.

[2018-09-03 10:17] ojeytonwilliams commented on #259
I can take a look at this one.

[2018-09-06 14:54] salv236 opened #285 "curriculum - insert category on HTML5"
missing lesson on HTML5 semantics which is very important to stay ahead in SEO, important to know about:

- header
- nav
-section
- article
- aside
- footer
- small
- mark
- drag/drop features
- new attributes

[2018-09-10 16:30] tchaffee opened #286 "Cannot see the curriculum"
It looks like there were some recent styling changes to the curriculum and I can no longer read it. The color of the font is too light.

![selection_268](https://user-images.githubusercontent.com/148813/45310790-a43d3380-b4fd-11e8-8a29-566e8430bc96.png)

[2018-09-11 04:10] scissorsneedfoodtoo opened #288 "Profile picture overflow"
Due to one of my recently merged [PRs](https://github.com/freeCodeCamp/learn/pull/251), the profile pictures now overflow onto the page:

![image](https://user-images.githubusercontent.com/2051070/45337475-33f8e580-b5c3-11e8-99d3-b78524431adb.png)

This is due to the way the padding is set for the top-nav `<a>` tags and the `sign-in-btn` class, along with the height and width of the image itself.

[2018-09-11 06:28] #286 closed

[2018-09-11 06:28] #288 closed

[2018-09-11 13:50] Bouncey opened #291 "All challenges which test if something is console.logged are not working"
@randelldawson commented on [Tue Sep 11 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/18115)

#### Describe your problem and - if possible - how to reproduce it
I assume a release which happened in the past 24 hours is responsible for the problem described below, because the challenge tests used to work fine.

On challenges requiring the user to console.log something specific to the co

[2018-09-11 14:16] Bouncey opened #293 "[CI Tests] Add test for challenges that use `console.log`"
As found in #291, challenge tests that rely on `console.log` are prone to breaking when implementing other features.

This issue requires an integration test that checks these challenges are still working.

This may be postponed until we have defined a test suit.

[2018-09-11 14:20] Bouncey opened #294 "[CI Tests] Define a test suit that can handle unit -> integration -> e-2-e tests"
We have a preference for `jest`.

We need a test suit to run unit, integration and end to end tests.

This issue requires a test suit be set up with minimal example tests created.

This test suit should be hooked up to TravisCI

That is about it for our requirements, go nuts and enjoy yourself!

[2018-09-11 15:35] ojeytonwilliams commented on #189
@Bouncey Since my fix had to be removed, should this be re-opened?

[2018-09-11 16:15] randelldawson commented on #291
I guess one way to test the tests would be to create a working solution for each challenge and have the tests run against the known working solution to maybe catch when the tests break?

[2018-09-11 16:38] ojeytonwilliams commented on #291
That's what happens when you run the tests in the repo (i.e. `npm test`).  Unfortunately that couldn't have caught this class of problem, because it was caused by my change to how learn deals with `console.log`, which isn't something that the curriculum repo knows anything about.

That said, you're absolutely right that more valid solutions would help out.  Just not with this type of mistake.

[2018-09-13 03:50] nathanhannig opened #297 "Update package.json so @freecodecamp/curriculum in recent version 3.1.2 or later"
There is a bug fix to the challenge **Create a Horizontal Line Using the hr Element** that was released to master of "@freecodecamp/curriculum": "3.1.2"

The learn package.json is still referencing "@freecodecamp/curriculum": "3.1.1"

This means the bug fix will not make it to the freeCodeCamp website until the package.json of learn is updated. This is a bug that is causing a lot of confusion to u

[2018-09-15 15:37] kirkjaa opened #298 "Better install instruction for Learn"
Does anyone has better instruction on setup Learn on your own server cause the one on the contributing.md is not much help at all in getting the curriculum up and running once you got Freecodecamp up on port 3001  ?

[2018-09-22 19:38] tchaffee opened #302 "Learn platform doesn't work on Edge Browser Windows 10"
When loading the first lesson or any lesson the console shows the following error and the "Run Tests" button will not work.

![image](https://user-images.githubusercontent.com/148813/45921123-de0b2400-be85-11e8-9a75-74a940b1bbba.png)

[2018-09-23 00:35] #297 closed

[2018-09-24 07:58] thecodingaviator opened #303 "Streak being shown wrong"
Check the screenshot below- I clearly have a 6 day streak(Or, that's how I seem to understand it) but the Heat Map says only one day.

#### Screenshot

![image](https://user-images.githubusercontent.com/34807532/45941859-ade69100-bffd-11e8-8427-731d9c1c7d22.png)

[2018-09-27 11:36] raisedadead commented on #275
Please see linked issue for comments

[2018-09-27 11:36] #275 closed

[2019-08-13 21:59] #105 closed

[2019-08-13 21:59] #125 closed

[2019-08-13 21:59] #153 closed

[2019-08-13 21:59] #154 closed

[2019-08-13 21:59] #171 closed

[2019-08-13 21:59] #178 closed

[2019-08-13 21:59] #187 closed

[2019-08-13 21:59] #189 closed

[2019-08-13 21:59] #193 closed

[2019-08-13 21:59] #216 closed

[2019-08-13 21:59] #227 closed

[2019-08-13 21:59] #234 closed

[2019-08-13 21:59] #242 closed

[2019-08-13 21:59] #256 closed

[2019-08-13 21:59] #257 closed

[2019-08-13 21:59] #259 closed

[2019-08-13 21:59] #273 closed

[2019-08-13 21:59] #281 closed

[2019-08-13 21:59] #285 closed

[2019-08-13 21:59] #291 closed

[2019-08-13 21:59] #293 closed

[2019-08-13 21:59] #294 closed

[2019-08-13 21:59] #298 closed

[2019-08-13 21:59] #302 closed

[2019-08-13 21:59] #303 closed

[2019-08-13 21:59] #21 closed

[2019-08-13 21:59] #36 closed

[2019-08-13 21:59] #53 closed

[2019-08-13 21:59] #59 closed

[2019-08-13 21:59] #61 closed

[2019-08-13 21:59] #66 closed